﻿@using DeliveryWebApp.Models.Home
@model DeveloperModel

<div class="card bg-light mb-3 d-inline-block card-developer">
    <div class="card-body">
        <h5 class="card-title"><a href="https://gitlab.com/@Model.UsernameGitLab">@@@Model.UsernameGitLab</a></h5>
        <p class="card-text">@Model.Roles</p>
    </div>
    <div class="card-header" style="font-style: italic;">@Model.FullName</div>
</div>
