﻿@using DeliveryWebApp.Models.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model RestaurantModel

<div class="card" style="width: auto; margin: 8px;">
    <a asp-controller="Home" asp-action="Restaurant" asp-route-id="@Model.ID"><img class="card-img-top" src="@Model.PictureURL" alt="@Model.Name"></a>
    <div class="card-body">
        <p class="card-text">
            <span style="display: block; font-size: 16px; font-weight: 500;">@Model.Name</span>
            <span style="font-size: 14px;">@Model.Description</span>
        </p>
    </div>
</div>