﻿@using DeliveryWebApp.Models.Home

@{
    ViewBag.Title = "O nama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">O nama</h1>

<h3 style="padding-bottom: 16px;">Naš tim</h3>
<div class="text-center">
    @await Html.PartialAsync("_Developer", new DeveloperModel("Antonio Junaković", "__fastcall", "Glavni programer i voditelj tima."))
    @await Html.PartialAsync("_Developer", new DeveloperModel("Mihael Jakšić", "mjaksic", "Backend programer i dokumentacija."))
    @await Html.PartialAsync("_Developer", new DeveloperModel("Fran Hršak", "fran_hrsak", "Frontend programer i dokumentacija."))
    @await Html.PartialAsync("_Developer", new DeveloperModel("Ivan Glavinović", "IvanGlavinovic", "Frontend programer i dokumentacija."))
    @await Html.PartialAsync("_Developer", new DeveloperModel("Kristijan Bošković", "kb49394", "Frontend programer i dokumentacija."))
    @await Html.PartialAsync("_Developer", new DeveloperModel("Marta Grotić", "martag96", "Frontend programer i dokumentacija."))
</div>

<h3 style="padding-top: 8px; padding-bottom: 16px;">Resursi</h3>
<ul>
    <li>Logo ikone: <a href="https://smashicons.com">Smashicons</a></li>
    <li>Dodatne ikone: <a href="http://www.glyphicons.com/">Glyphicons</a></li>
</ul>
