﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Potvrda računa";
    if (!ViewData.ContainsKey("Activated"))
    {
        ViewData["Activated"] = false;
    }
    if (!ViewData.ContainsKey("Verified"))
    {
        ViewData["Verified"] = false;
    }
    if (!ViewData.ContainsKey("Failed"))
    {
        ViewData["Failed"] = false;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Potvrda računa</h1>

@if ((bool)ViewData["Activated"])
{
    <p>Korisnički račun je uspješno potvrđen. Sada se možete <a asp-controller="Home" asp-action="Login">prijaviti</a>.</p>
}
else if ((bool)ViewData["Verified"])
{
    <p>Korisnički račun je već potvrđen.</p>
}
else
{
    <p>Zahvaljujemo na registraciji. Email s aktivacijskim kodom je poslan na <strong>@ViewData["Email"]</strong>.</p>

    if ((bool)ViewData["Failed"])
    {
        <div id="id_registration_failure" class="alert alert-danger alert-register input-register" role="alert">
            Verifikacijski kod nije valjan.
        </div>
    }

    <form asp-controller="Home" asp-action="Confirm" class="ml-auto" method="get">
        <input id="id_email" name="email" type="hidden" value="@ViewData["Email"]" autocomplete="off" />
        <input class="form-control input-register" id="id_code" name="code" type="text" maxlength="5" placeholder="Verifikacijski kod" autocomplete="off" onkeyup="Confirm_onKeyUpVerificationCode();" />
        <p id="id_not_sent" class="not-sent-confirm" style="font-size: 11px;">Verifikacijski email nije stigao? <a href="#" onclick="Confirm_requestNewEmail();">Zatražite novi.</a></p>
        <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="Potvrdi" disabled>
    </form>
}


