﻿@using DeliveryWebApp.Models.Home

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    ViewBag.Title = string.Empty;
    if (!ViewData.ContainsKey("CompletedDeletion"))
    {
        ViewData["CompletedDeletion"] = false;
    }
    if (!ViewData.ContainsKey("CompleteEmailChange"))
    {
        ViewData["CompleteEmailChange"] = false;
    }
    if (!ViewData.ContainsKey("FailEmailChange"))
    {
        ViewData["FailEmailChange"] = false;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Naslovnica</h1>

@if ((bool)ViewData["CompletedDeletion"])
{
    <div class="alert alert-success" role="alert">
        Korisnički račun je uspješno izbrisan.
    </div>
}

@if ((bool)ViewData["CompleteEmailChange"])
{
    <div class="alert alert-success" role="alert">
        Adresa e-pošte je uspješno izmjenjena.
    </div>
}

@if ((bool)ViewData["FailEmailChange"])
{
    <div class="alert alert-danger" role="alert">
        Adresa e-pošte nije uspješno izmjenjena.
    </div>
}

<h3 style="padding: 6px;">Otvoreno za naručivanje</h3>

@{
    bool writtenAny = false;
}

<div class="row">
    @foreach (RestaurantModel model in await SqlRepository.FindRestaurants())
    {
        writtenAny = true;
        <div class="col-sm-3">
            @await Html.PartialAsync("_Restaurant", model)
        </div>
    }
</div>

@if (!writtenAny)
{
    <div style="margin: 8px;">Nema restorana.</div>
}

<h3 style="padding: 6px; margin-top: 10px;">Zatvoreno za naručivanje</h3>

@{
    writtenAny = false;
}

<div class="row">
    @foreach (RestaurantModel model in await SqlRepository.FindRestaurants(false))
    {
        writtenAny = true;
        <div class="col-sm-3">
            @await Html.PartialAsync("_Restaurant", model)
        </div>
    }
</div>

@if (!writtenAny)
{
    <div style="margin: 8px;">Nema restorana.</div>
}
