﻿@using DeliveryWebApp
@using DeliveryWebApp.Models.Home
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Prijava";
    if (!ViewData.ContainsKey("IsLoginFailed"))
    {
        ViewData["IsLoginFailed"] = false;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Prijava</h1>

@if ((bool)ViewData["IsLoginFailed"])
{
    <div id="id_registration_failure" class="alert alert-danger alert-register input-register" role="alert">
        Prijava nije uspjela.
    </div>
}

<form asp-controller="Home" asp-action="Login" class="ml-auto" method="post">

    <input asp-for="UsernameOrEmail" class="form-control input-register" placeholder="Korisničko ime ili adresa e-pošte" />

    <input asp-for="Password" type="password" class="form-control input-register" placeholder="Lozinka" />

    <div class="g-recaptcha recaptcha-layout" data-sitekey="@Info.ReCaptchaSiteKey" data-callback="Login_onReCaptchaSuccess" data-expired-callback="Login_onReCaptchaFailed" data-error-callback="Login_onReCaptchaFailed"></div>

    <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="Prijavi se" disabled>

</form>
