﻿@using DeliveryWebApp.Database.Entries

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Account account = (Account)ViewData["Account"];
    Restaurant restaurant = (Restaurant)ViewData["Restaurant"];
    Meal meal = (Meal)ViewData["Meal"];
    ViewData["Title"] = meal.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">@meal.Name - <i>@restaurant.Name</i></h1>

<div class="row">
    <div class="col-sm-1">
        <img src="@meal.PictureURL" style="width: 100%; margin-bottom: 10px;" />
    </div>
    <div class="col-sm-11">
        <div style="font-size: 18px; margin-bottom: 10px;">@meal.Description</div>
        <div style="font-size: 12px; font-weight: 700; margin-bottom: 30px;">@((meal.Price / 100.0).ToString("0.00")) HRK, @meal.PreparationMinutes min</div>
        @if ((account != null) && (restaurant.IsOpen))
        {
            <a class="btn btn-primary" style="margin-right: 10px;" asp-action="AddToCart" asp-route-restId="@restaurant.ID" asp-route-mealId="@meal.ID">
                Dodaj
            </a>
        }
        <a class="btn btn-secondary float-right" style="margin-right: 10px;" asp-action="Restaurant" asp-route-id="@restaurant.ID">
            Povratak na jelovnik
        </a>
        @if (account != null)
        {
            <a class="btn btn-secondary float-right" style="margin-right: 10px;" asp-controller="Account" asp-action="Cart">
                Idi u košaricu
            </a>
        }
    </div>
</div>
