﻿@using DeliveryWebApp
@using DeliveryWebApp.Models.Home
@model RegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Registracija";
    if (!ViewData.ContainsKey("IsRegistrationFailed"))
    {
        ViewData["IsRegistrationFailed"] = false;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = Register_onLoad;
</script>

<h1 style="padding-bottom: 12px;">Registracija</h1>

<form asp-controller="Home" asp-action="Register" class="ml-auto" method="post">

    @if ((bool)ViewData["IsRegistrationFailed"])
    {
        <div id="id_registration_failure" class="alert alert-danger alert-register input-register" role="alert">
            Registracija nije uspjela.
        </div>
    }

    <h3 style="padding: 6px;">Podaci o računu</h3>

    <div id="id_username_success" class="alert alert-success alert-register input-register" style="display: none;" role="alert">
        Korisničko ime je dostupno.
    </div>
    <div id="id_username_checking" class="alert alert-warning alert-register input-register" style="display: none;" role="alert">
        Provjeravanje dostupnosti korisničkog imena...
    </div>
    <div id="id_username_failure" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Korisničko ime nije dostupno.
    </div>
    <div id="id_username_invalid" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Korisničko ime nije valjano (znak <strong id="id_username_illegal_char"></strong> nije dozvoljen).
    </div>
    <div id="id_username_tooshort" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Korisničko ime je prekratko.
    </div>
    <div id="id_username_toolong" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Korisničko ime je predugo.
    </div>
    <input asp-for="Username" class="form-control input-register" placeholder="Korisničko ime" autocomplete="off" onfocus="Register_onFocusUsername();" onfocusout="Register_onFocusOutUsername();" />

    <div id="id_email_success" class="alert alert-success alert-register input-register" style="display: none;" role="alert">
        Adresa e-pošte je dostupna.
    </div>
    <div id="id_email_checking" class="alert alert-warning alert-register input-register" style="display: none;" role="alert">
        Provjeravanje dostupnosti adrese e-pošte...
    </div>
    <div id="id_email_failure" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Adresa e-pošte nije dostupna.
    </div>
    <div id="id_email_invalid" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Adresa e-pošte nije valjana.
    </div>
    <input asp-for="Email" class="form-control input-register" placeholder="Adresa e-pošte" autocomplete="off" onfocus="Register_onFocusEmail();" onfocusout="Register_onFocusOutEmail();" />

    <h3 style="padding: 6px;">Lozinka</h3>

    <div id="id_password_success" class="alert alert-success alert-register input-register" style="display: none;" role="alert">
        Lozinka je valjana.
    </div>
    <div id="id_password_tooshort" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Lozinka je prekratka.
    </div>
    <div id="id_password_toolong" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Lozinka je preduga.
    </div>
    <input asp-for="Password" type="password" class="form-control input-register" placeholder="Lozinka" autocomplete="off" onfocus="Register_onFocusPassword();" onfocusout="Register_onFocusOutPassword();" onkeydown="Register_onKeyDownPassword();" />

    <div id="id_password_repeat_success" class="alert alert-success alert-register input-register" style="display: none;" role="alert">
        Ponovljena lozinka se podudara sa unesenom lozinkom.
    </div>
    <div id="id_password_repeat_invalid" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Ponovljena lozinka se ne podudara sa unesenom lozinkom.
    </div>
    <input type="password" class="form-control input-register" id="PasswordRepeat" name="PasswordRepeat" placeholder="Ponovljena lozinka" autocomplete="off" onfocus="Register_onFocusPasswordRepeat();" onfocusout="Register_onFocusOutPasswordRepeat();" />

    <h3 style="padding: 6px;">Osobne informacije</h3>

    <div id="id_full_name_success" class="alert alert-success alert-register input-register" style="display: none;" role="alert">
        Puno ime je valjano.
    </div>
    <div id="id_full_name_invalid" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Valjano puno ime je potrebno za registraciju.
    </div>
    <input asp-for="FirstName" class="form-control input-register" placeholder="Ime" autocomplete="off" onfocus="Register_focusedFirstName = true; Register_onFocusFullName();" onfocusout="Register_focusedFirstName = false; Register_onFocusOutFullName();" />
    <input asp-for="LastName" class="form-control input-register" placeholder="Prezime" autocomplete="off" onfocus="Register_focusedLastName = true; Register_onFocusFullName();" onfocusout="Register_focusedLastName = false; Register_onFocusOutFullName();" />

    <div id="id_cellphone_number_success" class="alert alert-success alert-register input-register" style="display: none;" role="alert">
        Broj mobitela je valjan.
    </div>
    <div id="id_cellphone_number_invalid" class="alert alert-danger alert-register input-register" style="display: none;" role="alert">
        Broj mobitela nije valjan.
    </div>
    <div class="input-group input-register">
        <div class="input-group-prepend d-inline-block" style="margin-top: 10px; width: 65px;">
            <div class="input-group-text">+385</div>
        </div>
        <input asp-for="CellphoneNumber" class="form-control d-inline-block float-right" style="margin-top: 10px; width: calc(100% - 65px);" placeholder="Broj mobitela" autocomplete="off" onfocus="Register_onFocusCellphoneNumber();" onfocusout="Register_onFocusOutCellphoneNumber();" />
    </div>

    <div class="g-recaptcha recaptcha-layout" data-sitekey="@Info.ReCaptchaSiteKey" data-callback="Register_onReCaptchaSuccess" data-expired-callback="Register_onReCaptchaFailed" data-error-callback="Register_onReCaptchaFailed"></div>

    <div style="padding-top: 16px; font-size: 12px;">
        Klikom na gumb <i>Registriraj se</i> slažete se sa <a asp-controller="Home" asp-action="Rules" target="_blank">pravilima korištenja</a>.
    </div>

    <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="Registriraj se" disabled>

</form>
