﻿@using DeliveryWebApp.Database.Entries

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Account account = (Account)ViewData["Account"];
    Restaurant restaurant = (Restaurant)ViewData["Restaurant"];
    ViewData["Title"] = restaurant.Name;
    ViewData["EnableLocation"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idx = 0;
}

<script>
    window.onload = function () {
        // Call base load event handler
        Layout_onLoadBody();

        // Get location picker widget
        let locationPicker = $('.location-picker').locationPicker({
            locationChanged: null,
            init: { current_location: false }
        });

        // Initialize location
        locationPicker.setLocation(@restaurant.MapLatitude, @restaurant.MapLongitude);
    };
</script>

<h1 style="padding-bottom: 2px;">@restaurant.Name</h1>

<div class="row">
    <div class="col-sm-4" style="margin-bottom: 10px;">
        <h3 style="padding: 12px;">Podaci o restoranu</h3>
        <img src="@restaurant.PictureURL" style="width: 100%; margin-bottom: 10px;" />
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Naziv</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Name</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Opis</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Description</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Adresa</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Address</div>
        </div>
        <div style="margin-bottom: 8px;"></div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Broj mobitela</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">+385 @restaurant.ContactNumber</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Broj faksa</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">+385 @restaurant.FaxNumber</div>
        </div>
        <div class="location-picker">
            <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
            <input type="hidden" id="txtLocation" data-type="location-store" />
            <div class="map-container" style="margin-top: 10px;">
                <div id="map" data-type="map" style="height: 300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8" style="margin-bottom: 10px;">

        <h3 style="padding: 6px;">Stanje restorana</h3>
        <div style="margin-bottom: 8px;"></div>
        @if (restaurant.IsVerified)
        {
            if (restaurant.IsOpen)
            {
                <span class="badge badge-success" style="border-radius: 8px; font-size: 16px; margin-left: 28px;">Otvoren</span>
            }
            else
            {
                <span class="badge badge-danger" style="border-radius: 8px; font-size: 16px; margin-left: 28px;">Zatvoren</span>
            }
        }
        else
        {
            <span class="badge badge-warning" style="border-radius: 8px; font-size: 16px; margin-left: 28px;">Čeka potvrdu</span>
        }
        <div style="margin-bottom: 18px;"></div>

        <h3 style="padding: 12px;">Jelovnik restorana</h3>

        @if ((bool)ViewData["SuccessAddToCart"])
        {
            <div class="alert alert-success alert-register" role="alert">
                Jelo je dodano u košaricu.
            </div>
        }

        @foreach (Meal meal in restaurant.Meals)
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <img src="@meal.PictureURL" style="width: 36px; height: 36px; margin-right: 8px;" />
                        <div class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;">
                            @meal.Name
                            <div style="font-size: 12px;">@((meal.Price / 100.0).ToString("0.00")) HRK, @meal.PreparationMinutes min</div>
                        </div>

                        @if ((account != null) && (restaurant.IsOpen))
                        {
                            <a class="btn btn-primary float-right" style="margin-right: 10px;" asp-action="AddToCart" asp-route-restId="@restaurant.ID" asp-route-mealId="@meal.ID">
                                Dodaj
                            </a>
                        }

                        <a class="btn btn-secondary float-right" style="margin-right: 10px;" asp-action="MealDetails" asp-route-restId="@restaurant.ID" asp-route-mealId="@meal.ID">
                            Detaljnije
                        </a>

                    </h5>
                </div>
            </div>
            idx++;
        }

        @if (idx == 0)
        {
            <div>Nema jela.</div>
        }

        @if (account != null)
        {
            <a class="btn btn-secondary float-right" style="margin: 10px;" asp-controller="Account" asp-action="Cart">
                Idi u košaricu
            </a>
        }

    </div>
</div>
