﻿@{
    ViewBag.Title = "Pravila korištenja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Pravila korištenja</h1>

<h3 style="padding: 6px;">Prihvaćanje uvjeta korištenja</h3>

<div>
    Uvjeti korištenja čine sporazum između Fakulteta elektrotehnike i računarstva i svake osobe koja posjeti mobilni i web servis Fina i brza hrana. Bilo koji način korištenja našeg servisa (uključujući i jednostavnu navigaciju po stranici) označava prihvaćanje ovih Uvjeta od strane korisnika servisa.<br /><br />
    Fakulteta elektrotehnike i računarstva (u daljnjem tekstu ˝FER˝) osnivač je web i mobilnog servisa Fina i brza hrana te je vlasnik dokumenata, programskih kodova i datoteka sadržanih na servisu.<br /><br />
    Usluge koje nudi Fina i brza hrana, kao i sav sadržaj na servisu Fina i brza hrana, podložne su ovim Uvjetima korištenja.<br /><br />
    Fina i brza hrana može koristiti osnovne korisničke podatke za slanje obavijesti putem e-poruka.<br /><br />
    Servis Fina i brza hrana vam prema svim primjenjivim zakonima i propisima daje pravo pristupa, korištenja i prikazivanja web servisa te sadržaja koji se nalazi na servisu. Međutim, ova prava ne uključuju prijenos vlasništva servisa ni sadržaja prikazanog na njemu. Zbog toga kao korisnik servisa Fina i brza hrana: (1) morate poštivati sva autorska prava i druga vlasnička prava koja se odnose na kopiranje sadržaja i materijala na web stranici (2) ne smijete mijenjati web stranicu i njezine dijelove na bilo koji način niti ih smije reproducirati ili javno predstavljati.<br /><br />
</div>

<h3 style="padding: 6px;">Korisnički račun</h3>

<div>
    Kao registrirani korisnik web i mobilnog servisa Fina i brza hrana, odgovorni ste za održavanje i povjerljivost podataka vezanih uz vaš korisnički račun, lozinku, ograničen pristup vašem računalu te prihvaćate odgovornost za sve aktivnosti ostvarene putem vašeg korisničkog računa.<br /><br />
</div>

<h3 style="padding: 6px;">Osobni podaci</h3>

<div>
    Osobni podaci koji su prikupljeno od strane web i mobilnog servisa Fina i brza hrana bit će korišteni isključivo u skladu s Politikom zaštite privatnosti servisa Fina i brza hrana. Kako biste koristili servis Fina i brza hrana, vaši osobni podaci moraju biti ispravni.<br /><br />
</div>

<h3 style="padding: 6px;">Cijene online naručivanja hrane</h3>

<div>
    Usluga online naručivanja hrane na web i mobilnom servisu Fina i brza hrana ne naplaćuje se. Plaćate cijenu hrane i pića koja je navedena prilikom naručivanja. Neki partnerski restorani mogu naplatiti uslugu dostave prema cijeni koja je jasno navedena prilikom naručivanja hrane.<br /><br />
</div>

<h3 style="padding: 6px;">Cijene i proizvodi koje nude restorani</h3>

<div>
    Svi podaci na web i mobilnom servisu Fina i brza hrana, vezani uz cijene, specifikacije i raspoloživost proizvoda dobiveni su od strane partnerskih restorana. Postoji mogućnost da se podaci na servisu Fina i brza hrana razlikuju od onih koji su navedeni na jelovniku restorana.<br /><br />
    Web i mobilni servis Fina i brza hrana nije odgovoran za navedene cijene niti kvalitetu naručenih proizvoda.<br /><br />
</div>

<h3 style="padding: 6px;">Dostava</h3>

<div>
    Dostavu naručene hrane i pića obavljaju partnerski restorani i njihove dostavne službe. Restoran može naplatiti dostavu kao dio svoje usluge. U tom slučaju, prilikom naručivanja hrane, korisniku će biti jasno istaknuta cijena dostave na stranici restorana te u košarici.<br /><br />
</div>

<h3 style="padding: 6px;">Provjera narudžbe</h3>

<div>
    Nakon što izvršite narudžbu koristeći usluge web i mobilnog servisa Fina i brza hrana, postoji mogućnost da vas restoran ili predstavnik korisničke podrške servisa Fina i brza hrana zatraži dodatne informacije zbog provjere prije prihvaćanja narudžbe. Restoran je ovlašten kontaktirati vas kako bi izvršio takvu provjeru te zadržava pravo odbiti narudžbu.<br /><br />
</div>

<h3 style="padding: 6px;">Zabrana prodaje alkoholnih pića maloljetnicima</h3>

<div>
    Servis Fina i brza hrana će prilikom narudžbe alkoholnih pića jasno istaknuti zakonsku zabranu prodaje alkohola maloljetnicima te će izvršavati provjeru dobi korisnika na način da zatraži (gdje je primjenjivo) korisnika da samostalno unese datum i godinu rođenja te aktivno potvrdi svoju punoljetnost, a sve kako bi se onemogućila narudžba alkoholnih pića maloljetnicima.<br /><br />
    Fina i brza hrana neće snositi odgovornost za podatke koje korisnik samostalno unosi.<br /><br />
    Restoran će osigurati da prilikom dostave narudžbe koja u sebi sadržava alkoholna pića izvrši provjeru dobi korisnika, te u slučaju da utvrdi da je korisnik maloljetan odbije izvršiti dostavu narudžbe u dijelu u kojem se odnosi na alkoholna pića, a sve sukladno važećim zakonima Republike Hrvatske.<br /><br />
    Fina i brza hrana neće snositi odgovornost za svog partnera koji ne postupi sukladno važećim zakonima Republike Hrvatske.<br /><br />
</div>

<h3 style="padding: 6px;">Promjene</h3>

<div>
    FER u bilo kojem trenutku zadržava pravo izmjene ili dopune važećih Uvjeta i odredbi korištenja servisa Fina i brza hrana. Promjene, izmjene, dopune ili brisanje Uvjeta primijenit će se na korištenje web stranice nakon obavijesti o takvoj promjeni. Obavijest se može poslati bilo kojim sredstvom, uključujući, ali ne ograničavajući se na, lokaciju novih Uvjeta korištenja na web i mobilnom servisu Fina i brza hrana. Svaka upotreba servisa nakon takve promjene ili izmjene podrazumijevat će prihvaćanje izmjena, dopuna ili brisanja Uvjeta ili odredbi od strane korisnika servisa. FER može u bilo kojem trenutku prekinuti, mijenjati, obustaviti ili prekinuti bilo kakve značajke servisa Fina i brza hrana, uključujući dostupnost fotografija ili opis bilo kojeg proizvoda ili usluge. Daljnja upotreba servisa, s korisničke strane, podrazumijeva prihvaćanje svih izmjena i dopuna.<br /><br />
    Korištenje servisa Fina i brza hrana podliježe Uvjetima korištenja koji su na snazi u vrijeme korištenja web i mobilnog servisa. Korisnik treba povremeno provjeravati Uvjete korištenja, gdje će biti obaviješten o sadržaju i promjenama Uvjeta.<br /><br />
</div>

<h3 style="padding: 6px;">Ograničenje odgovornosti</h3>

<div>
    FER, njegovi zaposlenici ili drugi predstavnici ni u kojem slučaju ne podliježu bilo kakvoj posljedičnoj, slučajnoj, neizravnoj ili posebnoj šteti, troškovima ili kazni, uključujući, ali ne ograničavajući se na, izgubljenu zaradu, zatvaranje posla, gubitak podataka, gubitak kupaca, gubitak imovine, štetu na imovini ili zahtjeve trećih strana koje proizlaze iz, ili su u vezi s korištenjem, kopiranjem ili prezentiranjem servisa Fina i brza hrana ili njegovog sadržaja te bilo koje druge srodne internetske stranice.<br /><br />
</div>

<h3 style="padding: 6px;">Ispravljanje, izmjena ili brisanje podataka</h3>

<div>
    FER omogućuje korisnicima ispravljanje, promjenu, dodavanje ili brisanje podataka i informacija prikazanih na servisu Fina i brza hrana. Ako odlučite izbrisati svoje osobne podatke, servis Fina i brza hrana će izravno iz svojih datoteka ukloniti te podatke. Zbog zaštite i sigurnosti korisnika, FER će morati ustvrditi je li osoba kojoj se vrše izmjene podataka ista osoba koja je uputila zahtjev za izmjenom podataka. Ako želite pristupiti, izmijeniti ili izbrisati svoje osobne podatke pošaljite e-poruku na podrska@finaibrzahrana.azurewebsites.net. Imajte na umu da ćemo učiniti sve što je moguće kako bismo zaštitili vaše osobne podatke. Jednako tako imajte na umu da samo vi možete zaštiti svoju lozinku tako da ona bude poznata samo vama, odnosno da ju ne dijelite s drugima.<br /><br />
</div>

<h3 style="padding: 6px;">Periodične izmjene</h3>

<div>
    FER konstantno širi, ažurira i poboljšava servis Fina i brza hrana, kao i srodne proizvode i usluge na koje se odnose ovi Uvjeti. Preporučujemo da redovito čitate Uvjete korištenja i Pravila privatnosti kako bismo vas obavijestili o promjenama sadržaja. Zadržavamo prava za promjenom Uvjeta korištenja u skladu sa zakonskim odredbama.<br /><br />
</div>

<h3 style="padding: 6px;">Upravni zakon i nadležnost</h3>

<div>
    Uvjeti i odredbe te njihove izmjene i dopune uređuju se hrvatskim zakonom. Bilo koji spor koji može proizaći iz ovog Ugovora i koji se ne može riješiti izvan nadležnog suda može biti proslijeđen hrvatskom sudu. Sva prava i pravni lijekovi pod uvjetima korištenja kumulativni su i ne isključuju druga prava i pravna sredstva koja su predviđena zakonom ili drugim ugovorom.<br /><br />
</div>

<h3 style="padding: 6px;">Ograničenje odgovornosti posrednika</h3>

<div>
    Servis Fina i brza hrana je samo posrednik u naručivanju hrane i ne odgovara za kvalitetu hrane, usluge i dostave. U nadležnosti je samih restorana da brinu o kvaliteti hrane i usluge, neovisno o tome naručuje li se hrana putem servisa Fina i brza hrana ili telefonskim putem.<br /><br />
    FER ne jamči da će web i mobilni servis Fina i brza hrana biti bez grešaka u sustavu. Ovo ograničenje primjenjuje se na bilo koju štetu ili povredu nastalu prilikom pojavljivanja grešaka, prekida, kašnjenja u prijenosu podataka, računalnih virusa ili pada internetske mreže.<br /><br />
    Postoji mogućnost da stranice restorana sadrže greške ili propuste vezane uz opis, cijene ili raspoloživost proizvoda. Fina i brza hrana zadržava pravo na izmjene i ispravke grešaka i propusta bez prethodne najave. Također, Fina i brza hrana zadržava pravo brisanja bilo kojeg ponuđenog proizvoda ili usluge u slučaju greške ili propusta u opisu ili u slučaju sličnog razloga.<br /><br />
</div>

<h3 style="padding: 6px;">Načini plaćanja</h3>

<div>
    Korisnici mogu plaćati isključivo gotovinom dostavljaču prilikom preuzimanja narudžbe.<br /><br />
</div>

<h3 style="padding: 6px;">Izdavanje računa</h3>

<div>
    Restoran izdaje račun, a Fina i brza hrana je samo posrednik u procesu naručivanja.<br /><br />
</div>

<h3 style="padding: 6px;">Komunikacija</h3>

<div>
    Za sva pitanja ili informacije o servisu <i>Fina i brza hrana</i> možete poslati poruku na <a href="mailto:podrska@finaibrzahrana.azurewebsites.net">podrska@finaibrzahrana.azurewebsites.net</a>.<br /><br />
</div>
