﻿@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Account myAccount = null;
    Account targetAccount = (Account)ViewData["TargetAccount"];
    if (ViewData["MyAccount"] != null)
    {
        myAccount = (Account)ViewData["MyAccount"];
    }
    ViewData["Title"] = targetAccount.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" style="z-index: 100000;" id="id_modal_change_role" tabindex="-1" role="dialog" aria-labelledby="modalChangeRoleUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChangeRoleUserLabel">Promjena privilegija</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 8px;">Odaberite kakve privilegije želite postaviti za ovoga korisnika.</div>
                <form asp-controller="Admin" asp-action="ChangeRole" method="post">
                    <input class="d-none" type="hidden" name="username" value="@targetAccount.Username" />

                    <div style="height: 10px;"></div>

                    <label class="c_radio_container">
                        Običan korisnik
                        <input type="radio" name="role" value="@AccountType.RegularUser" @(targetAccount.AccountRole == AccountType.RegularUser ? "checked" : "")>
                        <span class="c_radio_checkmark" style="margin-top: 4px;"></span>
                    </label>
                    <label class="c_radio_container">
                        Dostavljač
                        <input type="radio" name="role" value="@AccountType.DelivererUser" @(targetAccount.AccountRole == AccountType.DelivererUser ? "checked" : "")>
                        <span class="c_radio_checkmark" style="margin-top: 4px;"></span>
                    </label>
                    <label class="c_radio_container">
                        Dispečer
                        <input type="radio" name="role" value="@AccountType.DispatcherUser" @(targetAccount.AccountRole == AccountType.DispatcherUser ? "checked" : "")>
                        <span class="c_radio_checkmark" style="margin-top: 4px;"></span>
                    </label>
                    <label class="c_radio_container">
                        Administrator
                        <input type="radio" name="role" value="@AccountType.Administrator" @(targetAccount.AccountRole == AccountType.Administrator ? "checked" : "")>
                        <span class="c_radio_checkmark" style="margin-top: 4px;"></span>
                    </label>

                    <input id="id_change_role_button" style="display: none;" type="submit" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button id="id_pseudo_change_role_button" type="button" class="btn btn-primary" onclick="$('#id_change_role_button').click();">Prihvati</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" style="z-index: 100000;" id="id_modal_delete_user" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteUserLabel">Brisanje korisnika</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 8px;">Jeste li sigurni da želite izbrisati korisnika? Ova akcija je ireverzibilna.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <a asp-controller="Admin" asp-action="DeleteUser" asp-route-username="@targetAccount.Username" role="button" class="btn btn-danger" disabled>Izbriši korisnika</a>
            </div>
        </div>
    </div>
</div>

<h3 style="padding: 6px;">Općenito o korisniku</h3>

<div class="info-account-index" style="padding: 16px;">
    <img class="d-inline-block align-top" style="border-radius: 16px;" src="@targetAccount.ProfilePictureURL" />
    <div class="align-top info-text-account-index">
        <div id="id_username_var" style="padding-top: 6px; font-weight: bold; font-size: 26px;">@targetAccount.Username</div>
        <div id="id_titlecard_full_name" style="font-size: 18px;">@targetAccount.FirstName @targetAccount.LastName</div>
        @if ((myAccount != null) && (myAccount.ID == targetAccount.ID))
        {
            <a asp-controller="Account" asp-action="" id="id_titlecard_link" style="font-size: 14px; text-decoration: none;">Uredi svoj račun</a>
        }
        else
        {
            <div id="id_titlecard_account_type" style="font-size: 16px; font-weight: 400; font-style: italic;">
                @switch (targetAccount.AccountRole)
                {
                    case AccountType.RegularUser:
                        @Html.Raw("Običan korisnik");
                        break;
                    case AccountType.DelivererUser:
                        @Html.Raw("Dostavljač");
                        break;
                    case AccountType.DispatcherUser:
                        @Html.Raw("Dispečer");
                        break;
                    case AccountType.Administrator:
                        @Html.Raw("Administrator");
                        break;
                }
            </div>
        }
    </div>
</div>

@if ((myAccount != null) && (myAccount.AccountRole != AccountType.RegularUser))
{
    <h3 style="padding: 6px;">Osobni podaci</h3>
    <div class="row" style="margin: 4px;">
        <div class="col-3" style="font-size: 12px;">E-mail</div>
        <div class="col-9" style="font-weight: 500; font-size: 14px;">
            @targetAccount.Email 
            @if (!targetAccount.IsVerified)
            {
                @Html.Raw("<span class=\"badge badge-warning\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Nepotvrđen</span>")
            }
        </div>

    </div>
    <div class="row" style="margin: 4px;">
        <div class="col-3" style="font-size: 12px;">Mobitel</div>
        <div class="col-9" style="font-weight: 500; font-size: 14px;">+385 @targetAccount.CellphoneNumber</div>
    </div>

    @if ((myAccount.AccountRole == AccountType.Administrator) && (!targetAccount.IsSpecial))
    {
        <h3 style="padding: 6px; margin-top: 10px;">Upravljanje računom</h3>

        if (!targetAccount.IsVerified)
        {
            <a asp-controller="Admin" asp-action="VerifyEmail" asp-route-username="@targetAccount.Username" class="btn btn-secondary" style="margin: 4px; color: white;">Potvrdi email</a>
        }
        <button class="btn btn-secondary" style="margin: 4px;" data-toggle="modal" data-target="#id_modal_change_role">Promijeni privilegije</button>
        <button class="btn btn-danger" style="margin: 4px;" data-toggle="modal" data-target="#id_modal_delete_user">Izbriši korisnika</button>
    }
}
