﻿@using DeliveryWebApp.Models.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model MyRestaurantModel

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <a class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;" asp-action="MyRestaurant" asp-route-id="@Model.ID">
                @Model.Name

                @if (Model.Verified)
                {
                    if (Model.Closed)
                    {
                        <span class="badge badge-danger" style="border-radius: 8px; margin: 8px; font-size: 12px;">Zatvoren</span>
                    }
                    else
                    {
                        <span class="badge badge-success" style="border-radius: 8px; margin: 8px; font-size: 12px;">Otvoren</span>
                    }
                }
                else
                {
                    <span class="badge badge-warning" style="border-radius: 8px; margin: 8px; font-size: 12px;">Čeka potvrdu</span>
                }
            </a>

            <a class="btn btn-primary float-right" asp-action="MyRestaurant" asp-route-id="@Model.ID">
                Otvori
            </a>
        </h5>
    </div>
</div>