﻿@using System.Numerics
@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    ViewData["Title"] = "Sve aktivne narudžbe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BigInteger totalPrice = 0;
    uint totalMinutes = 0;
    uint totalQty = 0;
    string tmpstr = "";
    string tmpstr2 = "";
    string tmpstr3 = "";
    TimeSpan tmspan;
}

<h1 style="padding-bottom: 24px;">Sve aktivne narudžbe</h1>

@foreach (Takeout takeout in await SqlRepository.GetTakeouts((Guid)ViewData["ID"], true))
{
    tmspan = (DateTime.UtcNow - takeout.PlacedTime);



    totalPrice = 0;
    totalMinutes = 0;
    totalQty = 0;
    foreach (TakeoutItem tki in takeout.TakeoutItems)
    {
        totalPrice += tki.Quantity * tki.TargetMeal.Price;
        totalMinutes = Math.Max(totalMinutes, tki.TargetMeal.PreparationMinutes);
        totalQty += tki.Quantity;
    }
    tmpstr = totalPrice.ToString();
    tmpstr = tmpstr.Insert(tmpstr.Length - 2, ".");
    if (((totalQty % 10) == 1) && ((totalQty % 100) != 11))
    {
        tmpstr2 = totalQty.ToString() + " artikl";
    }
    else if ((((totalQty % 10) == 2) && ((totalQty % 100) != 12)) || (((totalQty % 10) == 3) && ((totalQty % 100) != 13)) || (((totalQty % 10) == 4) && ((totalQty % 100) != 14)))
    {
        tmpstr2 = totalQty.ToString() + " artikla";
    }
    else
    {
        tmpstr2 = totalQty.ToString() + " artikala";
    }

    if (tmspan.Hours > 0)
    {
        tmpstr3 = "prije " + ((uint)tmspan.Hours).ToString() + " h " + ((uint)tmspan.Minutes).ToString() + " min";
    }
    else if (((uint)tmspan.Minutes) > 0)
    {
        tmpstr3 = "prije " + ((uint)tmspan.Minutes).ToString() + " min";
    }
    else
    {
        tmpstr3 = "upravo sad";
    }

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">

                <a asp-controller="Home" asp-action="User" asp-route-username="@takeout.PlacedBy.Username" class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;">
                    @takeout.PlacedBy.FirstName @takeout.PlacedBy.LastName (+385 @takeout.PlacedBy.CellphoneNumber) - @tmpstr3
                    <div style="font-size: 12px;">@tmpstr HRK, ~@totalMinutes min, @tmpstr2</div>
                </a>

                <a class="btn btn-primary float-right" style="margin-right: 10px;" asp-action="TakeoutDetails" asp-route-tkid="@takeout.ID">
                    Detaljnije
                </a>

            </h5>
        </div>
    </div>
}

<a class="btn btn-secondary float-right" style="margin: 16px;" asp-action="MyRestaurant" asp-route-id="@ViewData["ID"]">
    Povratak
</a>
