﻿@using DeliveryWebApp.Database.Entries
@using DeliveryWebApp.Models.Account
@model AddMealModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Account account = (Account)ViewData["Account"];
    Restaurant restaurant = (Restaurant)ViewData["Restaurant"];
    if ((bool)ViewData["EditExisting"])
    {
        ViewData["Title"] = "Uredi jelo";
    }
    else
    {
        ViewData["Title"] = "Dodaj jelo";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">@ViewData["Title"]</h1>

<form asp-action="SaveMeal" method="post">

    <h3 style="padding: 6px;">Informacije o jelu</h3>

    @if ((ViewData.ContainsKey("InvalidName")) && ((bool)ViewData["InvalidName"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Naziv jela mora sadržavati između 5 i 30 znakova.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Naziv jela
        </div>
    }
    <input asp-for="Name" type="text" class="form-control input-register" placeholder="Naziv jela" maxlength="30" />

    @if ((ViewData.ContainsKey("InvalidDescription")) && ((bool)ViewData["InvalidDescription"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Opis jela ne smije sadržavati više od 300 znakova.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Opis jela
        </div>
    }
    <textarea asp-for="Description" type="text" class="form-control input-register" style="min-height: 60px; max-height: 180px; height: 120px;" placeholder="Opis jela" maxlength="300"></textarea>

    <h3 style="padding: 6px;">Cijena i priprema</h3>

    @if ((ViewData.ContainsKey("InvalidPrice")) && ((bool)ViewData["InvalidPrice"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Cijena jela mora biti između 1.00 do 500.00 HRK.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Cijena jela
        </div>
    }
    <div class="input-group input-register">
        <input asp-for="Price" type="text" class="form-control d-inline-block" style="margin-top: 0px; width: calc(100% - 65px);" placeholder="Cijena jela" maxlength="6" />
        <div class="input-group-append d-inline-block float-right" style="margin-top: 0px; width: 65px;">
            <div class="input-group-text">&nbsp;HRK</div>
        </div>
    </div>

    @if ((ViewData.ContainsKey("InvalidPrepTime")) && ((bool)ViewData["InvalidPrepTime"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Vrijeme pripreme jela mora biti između 1 i 180 minuta.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Vrijeme pripreme
        </div>
    }
    <div class="input-group input-register">
        <input asp-for="PrepTime" type="text" class="form-control d-inline-block" style="margin-top: 0px; width: calc(100% - 65px);" placeholder="Vrijeme pripreme" maxlength="3" />
        <div class="input-group-append d-inline-block float-right" style="margin-top: 0px; width: 65px;">
            <div class="input-group-text">&nbsp;min</div>
        </div>
    </div>


    <input asp-for="RestaurantID" type="hidden" class="d-none" />
    <input asp-for="EditExisting" type="hidden" class="d-none" />
    <input asp-for="EditID" type="hidden" class="d-none" />

    <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="@ViewData["Title"]">

</form>
