﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DeliveryWebApp.Models.Account.AddRestaurantModel

@{
    if (!(Model is null) && Model.UpdateExisting)
    {
        ViewData["Title"] = "Uredi restoran";
        ViewData["UpdateExisting"] = true;
    }
    else
    {
        ViewData["Title"] = "Dodaj restoran";
    }
    ViewData["EnableLocation"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = AccountAddRestaurant_onLoad;
</script>

<h1 style="padding-bottom: 12px;">@ViewData["Title"]</h1>

@if ((ViewData.ContainsKey("UpdateExisting")) && ((bool)ViewData["UpdateExisting"]))
{
    <div class="alert alert-warning alert-register input-register" role="alert">
        Izmjena postavki restorana također zahtjeva ponovnu potvrdu restorana koja može potrajati nekoliko dana. U međuvremenu restoran će ostati zatvoren.
    </div>
}

@if ((ViewData.ContainsKey("UnknownError")) && ((bool)ViewData["UnknownError"]))
{
    <div class="alert alert-danger alert-register input-register" role="alert">
        Došlo je do pogreške.
    </div>
}

<form asp-action="AddRestaurant" method="post">

    <h3 style="padding: 6px;">Općeniti podaci</h3>

    @if ((ViewData.ContainsKey("InvalidName")) && ((bool)ViewData["InvalidName"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Naziv restorana mora sadržavati između 5 i 30 znakova.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Naziv restorana
       </div>
    }
    <input asp-for="Name" type="text" class="form-control input-register" placeholder="Naziv restorana" maxlength="30" />

    @if ((ViewData.ContainsKey("InvalidDescription")) && ((bool)ViewData["InvalidDescription"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Opis restorana ne smije sadržavati više od 300 znakova.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Opis restorana
        </div>
    }
    <textarea asp-for="Description" type="text" class="form-control input-register" style="min-height: 60px; max-height: 180px; height: 120px;" placeholder="Opis restorana" maxlength="300"></textarea>

    @if ((ViewData.ContainsKey("InvalidAddress")) && ((bool)ViewData["InvalidAddress"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Adresa restorana je obavezna.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Adresa restorana
        </div>
    }
    <input asp-for="Address" type="text" class="form-control input-register" placeholder="Adresa restorana" maxlength="80" />

    <h3 style="padding: 6px;">Lokacija na karti</h3>

    @if ((ViewData.ContainsKey("InvalidLocation")) && ((bool)ViewData["InvalidLocation"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Lokacija mora biti unutar Zagreba.
        </div>
    }

    <input id="MapLatitude" asp-for="MapLatitude" type="text" class="d-none" />

    <input id="MapLongitude" asp-for="MapLongitude" type="text" class="d-none" />

    <div class="location-picker">
        <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
        <input type="hidden" id="txtLocation" data-type="location-store" />
        <div class="map-container" style="margin-top: 10px;">
            <div id="map" data-type="map" class="input-register" style="height: 500px;"></div>
        </div>
    </div>

    <h3 style="padding: 6px;">Kontaktne informacije</h3>

    @if ((ViewData.ContainsKey("InvalidPhone")) && ((bool)ViewData["InvalidPhone"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Broj mobitela nije valjan.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Broj mobitela
        </div>
    }

    <div class="input-group input-register">
        <div class="input-group-prepend d-inline-block" style="margin-top: 0px; width: 65px;">
            <div class="input-group-text">+385</div>
        </div>
        <input asp-for="ContactNumber" class="form-control d-inline-block float-right" style="margin-top: 0px; width: calc(100% - 65px);" placeholder="Broj mobitela" autocomplete="off" onfocusout="AccountAddRestaurant_onFocusOutContactNumber();" />
    </div>

    @if ((ViewData.ContainsKey("InvalidFax")) && ((bool)ViewData["InvalidFax"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Broj faksa nije valjan.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Broj faksa
        </div>
    }

    <div class="input-group input-register">
        <div class="input-group-prepend d-inline-block" style="margin-top: 0px; width: 65px;">
            <div class="input-group-text">+385</div>
        </div>
        <input asp-for="FaxNumber" class="form-control d-inline-block float-right" style="margin-top: 0px; width: calc(100% - 65px);" placeholder="Broj faksa" autocomplete="off" onfocusout="AccountAddRestaurant_onFocusOutFaxNumber();" />
    </div>

    <h3 style="padding: 6px;">Identifikacija restorana</h3>

    @if ((ViewData.ContainsKey("InvalidOIB")) && ((bool)ViewData["InvalidOIB"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            OIB nije valjan.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            OIB
        </div>
    }

    <input asp-for="OIB" type="text" class="form-control input-register" maxlength="11" placeholder="OIB" />

    @if ((ViewData.ContainsKey("InvalidIBAN")) && ((bool)ViewData["InvalidIBAN"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            IBAN tekućeg računa nije valjan.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            IBAN tekućeg računa
        </div>
    }

    <input asp-for="IBAN" type="text" class="form-control input-register" maxlength="21" placeholder="IBAN tekućeg računa" />

    @if ((ViewData.ContainsKey("InvalidGiro")) && ((bool)ViewData["InvalidGiro"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            IBAN žiro računa nije valjan.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            IBAN žiro računa
        </div>
    }

    <input asp-for="Giro" type="text" class="form-control input-register" maxlength="21" placeholder="IBAN žiro računa" />

    <input asp-for="UpdateExisting" type="hidden" class="d-none" />

    <input asp-for="ExistingID" type="hidden" class="d-none" />

    @if (Model.UpdateExisting)
    {
        <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="Pohrani">
    }
    else
    {
        <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="@ViewData["Title"]">
    }

</form>