﻿@using System.Numerics
@using DeliveryWebApp.Database.Entries

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Košarica";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<TakeoutItem> takeoutItems = (IEnumerable<TakeoutItem>)ViewData["CartContent"];
    int idx = 0;
    string tmpStr = "";
    BigInteger totalPrice = 0;
    bool allAvailable = true;
}

<h1 id="id_main_page_title" style="padding-bottom: 12px;">Košarica</h1>

@if ((ViewData.ContainsKey("CheckoutSuccess")) && ((bool)ViewData["CheckoutSuccess"]))
{
    <div class="alert alert-success alert-register" role="alert">
        Narudžba je poslana.
    </div>
}

@foreach (TakeoutItem item in takeoutItems)
{
    @if (item.TargetMeal == null)
    {
        continue;
    }
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                @{
                    tmpStr = (item.Quantity * item.TargetMeal.Price).ToString();
                    tmpStr = tmpStr.Insert(tmpStr.Length - 2, ".");
                    totalPrice += item.Quantity * item.TargetMeal.Price;
                }
                <img src="@item.TargetMeal.PictureURL" style="width: 36px; height: 36px; margin-right: 8px;" />
                <div class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;">
                    @item.TargetMeal.Name
                    <div style="font-size: 12px;">
                        @if (((item.Quantity % 10) == 1) && ((item.Quantity % 100) != 11))
                        {
                            <span>@item.Quantity komad</span>
                        }
                        else
                        {
                            <span>@item.Quantity komada</span>
                        }
                        , ukupno @tmpStr HRK
                    </div>
                </div>

                @if (!item.TargetMeal.ServedAt.IsOpen)
                {
                    allAvailable = false;
                    <span class="badge badge-warning" style="border-radius: 8px; margin: 8px; font-size: 12px;">Nedostupno</span>
                }

                <a class="btn btn-danger float-right" style="margin-right: 10px;" asp-controller="Account" asp-action="DelMeal" asp-route-tkItemId="@item.ID">
                    Izbriši
                </a>

                <a class="btn btn-secondary float-right" style="margin-right: 10px;" asp-controller="Home" asp-action="MealDetails" asp-route-restId="@item.TargetMeal.ServedAt.ID" asp-route-mealId="@item.TargetMeal.ID">
                    Detaljnije
                </a>

                @if (item.TargetMeal.ServedAt.IsOpen)
                {
                    <a class="btn btn-info float-right" style="margin-right: 10px; width: 40px;" asp-controller="Account" asp-action="DecMeal" asp-route-tkItemId="@item.ID">
                        -
                    </a>

                    <a class="btn btn-info float-right" style="margin-right: 10px; width: 40px;" asp-controller="Account" asp-action="IncMeal" asp-route-tkItemId="@item.ID">
                        +
                    </a>
                }

            </h5>
        </div>
    </div>
    idx++;
}

@if (idx == 0)
{
    <div>Vaša košarica je prazna.</div>
}
else
{
    @if (allAvailable)
    {
        <a class="btn btn-primary" style="margin: 10px;" asp-action="Checkout">
            Naruči
        </a>
    }
    else
    {
        <div class="float-left" style="margin: 8px;">Neka od jela nisu dostupna. Da biste naručili, morate ih izbrisati iz košarice.</div>
    }

    tmpStr = totalPrice.ToString();
    tmpStr = tmpStr.Insert(tmpStr.Length - 2, ".");
    <div class="float-right" style="font-size: 24px; margin: 20px;">
        <i>Ukupno:</i> <span style="font-weight: 500;">@tmpStr HRK</span>
    </div>
}
