﻿@using System.Numerics
@using DeliveryWebApp.Database.Entries
@using DeliveryWebApp.Models.Account

@model CheckoutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Narudžba";
    ViewData["EnableLocation"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function () {
        // Call base load event handler
        Layout_onLoadBody();

        // Get location picker widget
        let locationPicker = $('.location-picker').locationPicker({
            locationChanged: function (data) {
                $('#MapLatitude').val(data.location.lat);
                $('#MapLongitude').val(data.location.long);
            },
            init: { current_location: false }
        });

        // Initialize location
        locationPicker.setLocation(@Model.MapLatitude, @Model.MapLongitude);
    };
</script>

<h1 id="id_main_page_title" style="padding-bottom: 12px;">Narudžba</h1>

@if ((ViewData.ContainsKey("UnknownError")) && ((bool)ViewData["UnknownError"]))
{
    <div class="alert alert-danger alert-register input-register" role="alert">
        Došlo je do pogreške.
    </div>
}

<form asp-action="Checkout" method="post">

    <h3 style="padding: 6px;">Podaci o dostavi</h3>

    @if ((ViewData.ContainsKey("InvalidAddress")) && ((bool)ViewData["InvalidAddress"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Adresa dostave je obavezna.
        </div>
    }
    else
    {
        <div style="font-size: 14px; margin-left: 10px; color: #9b9b9b;">
            Adresa dostave
        </div>
    }
    <input asp-for="Address" type="text" class="form-control input-register" placeholder="Adresa dostave" maxlength="80" />

    <h3 style="padding: 6px;">Lokacija na karti</h3>

    @if ((ViewData.ContainsKey("InvalidLocation")) && ((bool)ViewData["InvalidLocation"]))
    {
        <div class="alert alert-danger alert-register input-register" role="alert">
            Lokacija mora biti unutar Zagreba.
        </div>
    }

    <input id="MapLatitude" asp-for="MapLatitude" type="text" class="d-none" />

    <input id="MapLongitude" asp-for="MapLongitude" type="text" class="d-none" />

    <div class="location-picker">
        <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
        <input type="hidden" id="txtLocation" data-type="location-store" />
        <div class="map-container" style="margin-top: 10px;">
            <div id="map" data-type="map" class="input-register" style="height: 500px;"></div>
        </div>
    </div>

    <input id="id_submit" class="btn btn-primary submit-register" type="submit" value="Naruči">

</form>
