﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Korisnički račun";
    if (!ViewData.ContainsKey("FailedDeletion"))
    {
        ViewData["FailedDeletion"] = false;
    }
    if (!ViewData.ContainsKey("FailedAvatarChange"))
    {
        ViewData["FailedAvatarChange"] = false;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = AccountIndex_onLoad;
</script>

<div class="d-none">
    <div id="id_email_var">@ViewData["Email"]</div>
    <div id="id_first_name_var">@ViewData["FirstName"]</div>
    <div id="id_last_name_var">@ViewData["LastName"]</div>
    <div id="id_cellphone_number_var">@ViewData["CellphoneNumber"]</div>
    <div id="id_is_restaurant_owner_var">@((bool)ViewData["IsRestaurantOwner"] ? "1" : "0")</div>
</div>

<div class="modal fade" style="z-index: 100000;" id="id_modal_delete_account" tabindex="-1" role="dialog" aria-labelledby="modalDeleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteAccountLabel">Brisanje računa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 8px;">Unesite lozinku za potvrdu brisanja računa.</div>
                <form asp-controller="Account" asp-action="DeleteAccount" method="post">
                    <input id="password" name="password" class="form-control" type="password" placeholder="Lozinka" autocomplete="off" onkeyup="AccountIndex_changeDeleteAccountPasswordField();" />
                    <input id="id_delete_account_button" style="display: none;" type="submit" disabled />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button id="id_pseudo_delete_account_button" type="button" class="btn btn-danger" onclick="AccountIndex_deleteAccount();" disabled>Izbriši račun</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" style="z-index: 100000;" id="id_modal_change_email" tabindex="-1" role="dialog" aria-labelledby="modalChangeEmailLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChangeEmailLabel">Verifikacija e-poštanskog sandučića</h5>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 8px;">Verifikacijski email je poslan na <strong id="id_target_email_var"></strong>.</div>
                <form asp-controller="Account" asp-action="Confirm" method="get">
                    <input style="display: none;" type="text" id="id_identification" name="id" value="" />
                    <input class="form-control" id="code" name="code" type="text" maxlength="5" placeholder="Verifikacijski kod" autocomplete="off" onkeyup="AccountIndex_changeChangeEmailCodeField();" />
                    <input id="id_change_email_button" style="display: none;" type="submit" disabled />
                </form>
                <p id="id_not_sent" style="font-size: 11px; margin-top: 10px; margin-left: 10px;">Verifikacijski email nije stigao? <a href="#" onclick="AccountIndex_requestNewEmail();">Zatražite novi.</a></p>
            </div>
            <div class="modal-footer">
                <button id="id_pseudo_change_email_button" type="button" class="btn btn-primary" onclick="AccountIndex_changeEmailPseudo();" disabled>Potvrdi</button>
            </div>
        </div>
    </div>
</div>

<h1 id="id_main_page_title" style="padding-bottom: 12px;">Korisnički račun</h1>

<div id="id_account_deletion_failed" class="alert alert-danger" style="@(((bool)ViewData["FailedDeletion"]) ? "" : "display: none;")" role="alert">
    Brisanje računa nije uspjelo.
</div>

<div id="id_avatar_change_failed" class="alert alert-danger" style="@(((bool)ViewData["FailedAvatarChange"]) ? "" : "display: none;")" role="alert">
    Pogreška pri izmjeni slike profila.
</div>

<div id="id_success_change_account" class="alert alert-success" style="display: none;" role="alert">
    Izmjene su uspješno spremljene.
</div>

<div id="id_failure_change_account" class="alert alert-danger" style="display: none;" role="alert">
    Pogreška pri uređivanju računa. Izmjene nisu spremljene.
</div>

<h3 style="padding: 6px;">Podaci o računu</h3>

<div class="info-account-index" style="padding: 16px;">
    <img class="d-inline-block align-top" style="border-radius: 16px;" src="@ViewData["ProfilePictureURL"]" />
    <div class="align-top info-text-account-index">
        <div id="id_username_var" style="padding-top: 6px; font-weight: bold; font-size: 26px;">@ViewData["Username"]</div>
        <div id="id_titlecard_full_name" style="font-size: 18px;">@ViewData["FirstName"] @ViewData["LastName"]</div>
        <div style="font-style: italic; font-size: 14px;">
            +385 <div id="id_titlecard_cellphone_number" class="d-inline-block">@ViewData["CellphoneNumber"]</div>
            <img style="width: 10px; margin-left: 4px; margin-bottom: 2px;" src="~/img/glyphicons/glyphicons-204-lock.png" data-toggle="tooltip" data-placement="right" title="Broj mobitela je skriven od ostalih korisnika" />
        </div>
        <div style="height: 8px;"></div>
        <a asp-action="MyOrders">Prethodne narudžbe</a>
        <div style="height: 0px;"></div>
        <a asp-action="Cart">Idi u košaricu</a>
    </div>
</div>

<h3 style="padding: 6px;">Upravljanje računom</h3>

<div class="accordion" id="id_edit_account_accordion">
    <div class="card">
        <div class="card-header" id="id_edit_account_profile_picture">
            <h5 class="mb-0">
                <span class="d-inline-block align-middle tab-name-account-index">
                    Profilna slika
                </span>
                <button class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseEditAccountProfilePicture" aria-expanded="true" aria-controls="collapseEditAccountProfilePicture">
                    Uredi
                </button>
            </h5>
        </div>
        <div id="collapseEditAccountProfilePicture" class="collapse" aria-labelledby="id_edit_account_profile_picture" data-parent="#id_edit_account_accordion">
            <div class="card-body">

                <!-- Edit profile picture -->
                <form asp-controller="Account" asp-action="UploadAvatar" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div id="id_image_text_var" class="d-inline-block align-center" style="padding-right: 10px;">Odaberite sliku.</div>
                        <label class="btn btn-secondary align-center" for="id_avatar_field">Odaberi</label>
                        <input type="file" class="form-control-file" style="display: none;" accept="image/x-png,image/gif,image/jpeg" id="id_avatar_field" name="avatar" onchange="AccountIndex_onChangeAvatar();">

                    </div>
                    <input class="btn btn-primary" type="submit" value="Prenesi" />
                </form>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="id_edit_account_username">
            <h5 class="mb-0">
                <span class="d-inline-block align-middle tab-name-account-index">
                    Korisničko ime
                </span>
                <button id="id_button_edit_username" class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseEditAccountUsername" aria-expanded="true" aria-controls="collapseEditAccountUsername" onclick="AccountIndex_updateUsernameFormData();">
                    Uredi
                </button>
            </h5>
        </div>
        <div id="collapseEditAccountUsername" class="collapse" aria-labelledby="id_edit_account_username" data-parent="#id_edit_account_accordion">
            <div class="card-body">

                <!-- Edit username -->
                <div id="id_username_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Korisničko ime je dostupno.
                </div>
                <div id="id_username_checking" class="alert alert-warning alert-register" style="display: none;" role="alert">
                    Provjeravanje dostupnosti korisničkog imena...
                </div>
                <div id="id_username_failure" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Korisničko ime nije dostupno.
                </div>
                <div id="id_username_invalid" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Korisničko ime nije valjano (znak <strong id="id_username_illegal_char"></strong> nije dozvoljen).
                </div>
                <div id="id_username_tooshort" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Korisničko ime je prekratko.
                </div>
                <div id="id_username_toolong" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Korisničko ime je predugo.
                </div>

                <input id="id_new_username_field" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Korisničko ime" autocomplete="off" onfocus="AccountIndex_onFocusUsername();" onfocusout="AccountIndex_onFocusOutUsername();" />
                <button type="button" class="btn btn-primary" onclick="AccountIndex_saveUsername();">Spremi izmjene</button>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="id_edit_account_email">
            <h5 class="mb-0">
                <span class="d-inline-block align-middle tab-name-account-index">
                    Adresa e-pošte
                </span>
                <button id="id_button_edit_email" class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseEditAccountEmail" aria-expanded="true" aria-controls="collapseEditAccountEmail" onclick="AccountIndex_updateEmailFormData();">
                    Uredi
                </button>
            </h5>
        </div>
        <div id="collapseEditAccountEmail" class="collapse" aria-labelledby="id_edit_account_email" data-parent="#id_edit_account_accordion">
            <div class="card-body">

                <!-- Edit email -->
                <div class="text-account-index">Na novu adresu e-pošte će biti poslan email sa verifikacijskim kodom potrebnim za potvrdu vlasništva e-poštanskog sandučića.</div>

                <div id="id_email_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Adresa e-pošte je dostupna.
                </div>
                <div id="id_email_checking" class="alert alert-warning alert-register" style="display: none;" role="alert">
                    Provjeravanje dostupnosti adrese e-pošte...
                </div>
                <div id="id_email_failure" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Adresa e-pošte nije dostupna.
                </div>
                <div id="id_email_invalid" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Adresa e-pošte nije valjana.
                </div>
                <input id="id_new_email_field" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Adresa e-pošte" autocomplete="off" onfocus="AccountIndex_onFocusEmail();" onfocusout="AccountIndex_onFocusOutEmail();" />

                <button type="button" class="btn btn-primary" onclick="AccountIndex_saveEmail();">Spremi izmjene</button>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="id_edit_account_password">
            <h5 class="mb-0">
                <span class="d-inline-block align-middle tab-name-account-index">
                    Lozinka
                </span>
                <button id="id_button_edit_password" class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseEditAccountPassword" aria-expanded="true" aria-controls="collapseEditAccountPassword" onclick="AccountIndex_updatePasswordFormData();">
                    Uredi
                </button>
            </h5>
        </div>
        <div id="collapseEditAccountPassword" class="collapse" aria-labelledby="id_edit_account_password" data-parent="#id_edit_account_accordion">
            <div class="card-body">

                <!-- Edit password -->
                <div id="id_current_password_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Trenutna lozinka je valjana.
                </div>
                <div id="id_current_password_checking" class="alert alert-warning alert-register" style="display: none;" role="alert">
                    Provjeravanje valjanosti trenutne lozinke...
                </div>
                <div id="id_current_password_failure" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Trenutna lozinka nije valjana.
                </div>

                <h6>Trenutna lozinka</h6>
                <input id="id_current_password_field" type="password" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Trenutna lozinka" autocomplete="off" onfocus="AccountIndex_onFocusCurrentPassword();" onfocusout="AccountIndex_onFocusOutCurrentPassword();" />

                <div id="id_password_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Lozinka je valjana.
                </div>
                <div id="id_password_tooshort" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Lozinka je prekratka.
                </div>
                <div id="id_password_toolong" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Lozinka je preduga.
                </div>

                <h6>Nova lozinka</h6>
                <input id="id_new_password_field" type="password" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Nova lozinka" autocomplete="off" onfocus="AccountIndex_onFocusPassword();" onfocusout="AccountIndex_onFocusOutPassword();" onkeydown="AccountIndex_onKeyDownPassword();" />

                <div id="id_password_repeat_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Ponovljena lozinka se podudara sa unesenom lozinkom.
                </div>
                <div id="id_password_repeat_invalid" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Ponovljena lozinka se ne podudara sa unesenom lozinkom.
                </div>

                <h6>Ponovljena nova lozinka</h6>
                <input id="id_repeat_new_password_field" type="password" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Ponovljena nova lozinka" autocomplete="off" onfocus="AccountIndex_onFocusPasswordRepeat();" onfocusout="AccountIndex_onFocusOutPasswordRepeat();" />

                <button type="button" class="btn btn-primary" onclick="AccountIndex_savePassword();">Spremi izmjene</button>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="id_edit_account_personal_info">
            <h5 class="mb-0">
                <span class="d-inline-block align-middle tab-name-account-index">
                    Osobne informacije
                </span>
                <button id="id_button_edit_account_personal_info" class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseEditAccountPersonalInfo" aria-expanded="true" aria-controls="collapseEditAccountPersonalInfo" onclick="AccountIndex_updatePersonalInfoFormData();">
                    Uredi
                </button>
            </h5>
        </div>
        <div id="collapseEditAccountPersonalInfo" class="collapse" aria-labelledby="id_edit_account_personal_info" data-parent="#id_edit_account_accordion">
            <div class="card-body">

                <!-- Edit personal info (first name, last name, cellphone number) -->
                <div id="id_full_name_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Puno ime je valjano.
                </div>
                <div id="id_full_name_invalid" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Valjano puno ime je potrebno za registraciju.
                </div>

                <h6>Ime</h6>
                <input id="id_first_name_field" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" value="@ViewData["FirstName"]" placeholder="Ime" autocomplete="off" onfocus="Register_focusedFirstName = true; AccountIndex_onFocusFullName();" onfocusout="Register_focusedFirstName = false; AccountIndex_onFocusOutFullName();" />

                <h6>Prezime</h6>
                <input id="id_last_name_field" class="form-control" style="margin-top: 10px; margin-bottom: 10px;" value="@ViewData["LastName"]" placeholder="Prezime" autocomplete="off" onfocus="Register_focusedLastName = true; AccountIndex_onFocusFullName();" onfocusout="Register_focusedLastName = false; AccountIndex_onFocusOutFullName();" />

                <div id="id_cellphone_number_success" class="alert alert-success alert-register" style="display: none;" role="alert">
                    Broj mobitela je valjan.
                </div>
                <div id="id_cellphone_number_invalid" class="alert alert-danger alert-register" style="display: none;" role="alert">
                    Broj mobitela nije valjan.
                </div>

                <h6>Broj mobitela</h6>
                <div class="input-group" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="input-group-prepend d-inline-block" style="width: 65px;">
                        <div class="input-group-text">+385</div>
                    </div>
                    <input id="id_cellphone_number_field" class="form-control d-inline-block float-right" style="width: calc(100% - 65px);" value="@ViewData["CellphoneNumber"]" placeholder="Broj mobitela" autocomplete="off" onfocus="AccountIndex_onFocusCellphoneNumber();" onfocusout="AccountIndex_onFocusOutCellphoneNumber();" />
                </div>

                <button type="button" class="btn btn-primary" onclick="AccountIndex_savePersonalInfo();">Spremi izmjene</button>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="id_edit_account_other">
            <h5 class="mb-0">
                <span class="d-inline-block align-middle tab-name-account-index">
                    Ostalo
                </span>
                <button id="id_button_edit_account_other" class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseEditAccountOther" aria-expanded="true" aria-controls="collapseEditAccountOther" onclick="AccountIndex_updateIsRestaurantOwner();">
                    Uredi
                </button>
            </h5>
        </div>
        <div id="collapseEditAccountOther" class="collapse" aria-labelledby="id_edit_account_other" data-parent="#id_edit_account_accordion">
            <div class="card-body">

                <!-- Other (declare as restaurant owner, delete account) -->
                <div class="text-account-index">Omogućavanjem ove opcije se na glavnom izborniku pojavljuje traka <i>Moji restorani</i> koja vas vodi na upravljačku ploču za vlasnike restorana. Putem nje možete upravljati vlastitim restoranima dodanim u sustav.</div>
                <div class="custom-control custom-checkbox" style="padding-bottom: 10px;">
                    <input type="checkbox" class="custom-control-input" id="id_edit_account_enable_restaurant_panel">
                    <label class="custom-control-label" for="id_edit_account_enable_restaurant_panel">Prikaži upravljačku ploču za vlasnike restorana</label>
                </div>
                <button type="button" class="btn btn-primary" onclick="AccountIndex_saveIsRestaurantOwner();">Spremi izmjene</button>

                <div class="dropdown-divider"></div>

                <div class="text-account-index">Brisanjem računa gubite pristup vlastitom računu i svim podacima vezanim za njega. Vaše korisničko ime i adresa e-pošte biti će oslobođeni. Svi komentari i ocjene će i dalje biti vidljivi, ali neće biti povezani sa vama niti sa vašim računom.</div>
                <button type="button" class="btn btn-danger" onclick="AccountIndex_clearDeleteAccountPasswordField();" data-toggle="modal" data-target="#id_modal_delete_account">Izbriši račun</button>

            </div>
        </div>
    </div>
</div>
