﻿@using DeliveryWebApp.Database.Entries

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Account account = (Account)ViewData["Account"];
    Restaurant restaurant = (Restaurant)ViewData["Restaurant"];
    ViewData["Title"] = "Jelovnik restorana " + restaurant.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idx = 0;
    string command = "";
    string picfld = "";
    string subfld = "";
}

<h1 style="padding-bottom: 24px;">Jelovnik restorana  <i>@restaurant.Name</i></h1>

@if ((ViewData.ContainsKey("AddMealSuccess")) && ((bool)ViewData["AddMealSuccess"]))
{
    <div class="alert alert-success alert-register" role="alert">
        Jelo je uspješno pohranjeno u jelovnik.
    </div>
}

@if ((ViewData.ContainsKey("AddMealFailure")) && ((bool)ViewData["AddMealFailure"]))
{
    <div class="alert alert-danger alert-register" role="alert">
        Pogreška pri pohrani promjena jela u jelovnik.
    </div>
}

@if ((ViewData.ContainsKey("DeleteMealSuccess")) && ((bool)ViewData["DeleteMealSuccess"]))
{
    <div class="alert alert-success alert-register" role="alert">
        Jelo je uspješno izbrisano iz jelovnika.
    </div>
}

@if ((ViewData.ContainsKey("DeleteMealFailure")) && ((bool)ViewData["DeleteMealFailure"]))
{
    <div class="alert alert-danger alert-register" role="alert">
        Pogreška pri brisanju jela iz jelovnika.
    </div>
}

@if ((ViewData.ContainsKey("ChangeImageSuccess")) && ((bool)ViewData["ChangeImageSuccess"]))
{
    <div class="alert alert-success alert-register" role="alert">
        Slika jela je uspješno izmijenjena.
    </div>
}

@foreach (Meal meal in restaurant.Meals)
{
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <img src="@meal.PictureURL" style="width: 36px; height: 36px; margin-right: 8px;" />
                <div class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;">
                    @meal.Name
                    <div style="font-size: 12px;">@((meal.Price / 100.0).ToString("0.00")) HRK, @meal.PreparationMinutes min</div>
                </div>

                <a class="btn btn-primary float-right" asp-action="AddMeal" asp-route-RestaurantID="@restaurant.ID" asp-route-Name="@meal.Name" asp-route-Description="@meal.Description" asp-route-Price="@((meal.Price / 100.0).ToString("0.00"))" asp-route-PrepTime="@meal.PreparationMinutes" asp-route-EditExisting="True" asp-route-EditID="@meal.ID">
                    Uredi
                </a>

                <a class="btn btn-danger float-right" style="margin-right: 10px;" asp-action="DeleteMeal" asp-route-restId="@restaurant.ID" asp-route-mealId="@meal.ID">
                    Izbriši
                </a>

                <form asp-action="UploadMealPicture" method="post" enctype="multipart/form-data" class="float-right" style="margin-right: 10px; height: 1px;">
                    <div class="form-group">
                        @{
                            picfld = "id_picfld_" + idx.ToString();
                            subfld = "id_subpic_" + idx.ToString();
                            command = "let desiredImagePath = $('#id_picfld_" + idx.ToString() + "').val().trim();if (desiredImagePath.length > 0) {$('#id_subpic_" + idx.ToString() + "').click();}";
                        }
                        <label class="btn btn-secondary align-center" for="@picfld">Promijeni sliku</label>
                        <input type="file" class="form-control-file" style="display: none;" accept="image/x-png,image/gif,image/jpeg" id="@picfld" name="picture" onchange="@command">
                    </div>
                    <input type="hidden" class="d-none" name="restId" value="@restaurant.ID" />
                    <input type="hidden" class="d-none" name="mealId" value="@meal.ID" />
                    <input id="@subfld" type="submit" class="d-none" />
                </form>
            </h5>
        </div>
    </div>

    idx++;
}

@if (idx == 0)
{
    <div>Niste još dodali jela u jelovnik.</div>
}

<a asp-action="AddMeal" asp-route-RestaurantID="@restaurant.ID" asp-route-EditExisting="False" asp-route-EditID="@Guid.Empty" class="btn btn-primary submit-register" role="button">Dodaj jelo</a>
