﻿@using System.Numerics
@using DeliveryWebApp.Database.Entries

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    ViewData["Title"] = "Upravljanje restoranom " + ViewData["Name"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    BigInteger totalPrice = 0;
    uint totalMinutes = 0;
    uint totalQty = 0;
    string tmpstr = "";
    string tmpstr2 = "";
    string tmpstr3 = "";
    TimeSpan tmspan;
}

<div class="modal fade" style="z-index: 100000;" id="id_modal_delete_restaurant" tabindex="-1" role="dialog" aria-labelledby="modalDeleteRestaurantLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteRestaurantLabel">Brisanje restorana</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 8px;">Unesite lozinku za potvrdu brisanja restorana. Ova akcija je ireverzibilna!</div>
                <form asp-action="DeleteRestaurant" method="post">
                    <input id="id" name="id" class="d-none" type="hidden" value="@ViewData["ID"]" />
                    <input id="password" name="password" class="form-control" type="password" placeholder="Lozinka" autocomplete="off" onkeyup="AccountMyRestaurant_changeDeleteRestaurantPasswordField();" />
                    <input id="id_delete_restaurant_button" style="display: none;" type="submit" disabled />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button id="id_pseudo_delete_restaurant_button" type="button" class="btn btn-danger" onclick="AccountMyRestaurant_deleteRestaurant();" disabled>Izbriši restoran</button>
            </div>
        </div>
    </div>
</div>

<h1 style="padding-bottom: 24px;">Upravljanje restoranom  <i>@ViewData["Name"]</i></h1>

@if ((bool)ViewData["WasOpened"])
{
    <div class="alert alert-success alert-register" role="alert">
        Restoran je uspješno otvoren za narudžbe.
    </div>
}
else if ((bool)ViewData["WasClosed"])
{
    <div class="alert alert-success alert-register" role="alert">
        Restoran je uspješno zatvoren za narudžbe.
    </div>
}

<div class="row">
    <div class="col-sm-3">
        <img style="width: 100%; padding-bottom: 16px;" src="@ViewData["PictureURL"]" />

        <form asp-action="UploadRestaurantPicture" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div id="id_image_text_var" class="d-inline-block align-center" style="padding-right: 10px;">Odaberite sliku.</div>
                <label class="btn btn-secondary align-center" for="id_avatar_field">Odaberi</label>
                <input type="file" class="form-control-file" style="display: none;" accept="image/x-png,image/gif,image/jpeg" id="id_avatar_field" name="avatar" onchange="AccountMyRestaurant_changeAvatar();">
                <input class="d-none" type="hidden" id="restaurantId" name="restaurantId" value="@ViewData["ID"]" />
            </div>
            <input class="btn btn-primary" type="submit" value="Prenesi" />
        </form>

        <div style="height: 20px;"></div>
    </div>

    <div class="col-sm-9">
        <span style="font-size: 14px;"><i>Opis restorana</i>:&nbsp;</span>
        <div style="font-size: 18px;">@ViewData["Description"]</div>

        <div style="margin-bottom: 8px;"></div>

        <span style="font-size: 14px;"><i>Stanje restorana</i>:&nbsp;</span>
        @if ((bool)ViewData["Verified"])
        {
            if ((bool)ViewData["Closed"])
            {
                <span class="badge badge-danger" style="border-radius: 8px; font-size: 12px;">Zatvoren</span>
            }
            else
            {
                <span class="badge badge-success" style="border-radius: 8px; font-size: 12px;">Otvoren</span>
            }
        }
        else
        {
            <span class="badge badge-warning" style="border-radius: 8px; font-size: 12px;">Čeka potvrdu</span>
        }

        <div style="margin-bottom: 32px;"></div>

        <div class="d-inline-block">
            @if ((bool)ViewData["Verified"])
            {
                @if ((bool)ViewData["Closed"])
                {
                    <a asp-action="ToggleOpen" asp-route-id="@ViewData["ID"]" class="btn btn-primary" style="margin: 4px;" role="button">Otvori za narudžbe</a>
                }
                else
                {
                    <a asp-action="ToggleOpen" asp-route-id="@ViewData["ID"]" class="btn btn-secondary" style="margin: 4px;" role="button">Zatvori za narudžbe</a>
                }
            }
            <a asp-action="EditRestaurant" asp-route-id="@ViewData["ID"]" class="btn btn-secondary" style="margin: 4px;" role="button">Uredi</a>
            <button class="btn btn-danger" style="margin: 4px;" role="button" data-toggle="modal" data-target="#id_modal_delete_restaurant">Izbriši</button>
            <br />
            <div style="height: 10px;"></div>
            <a asp-action="MealEditor" asp-route-id="@ViewData["ID"]" style="text-decoration: none; margin: 8px;">Uredi jelovnik restorana</a>
            @if ((bool)ViewData["AmIAdmin"])
            {
                <br />
                <div style="height: 10px;"></div>
                <a asp-controller="Admin" asp-action="Restaurant" asp-route-id="@ViewData["ID"]" style="text-decoration: none; margin: 8px;">Prikaži kao administrator</a>
            }
        </div>

        <h3 style="padding: 12px; margin-top: 10px;">Aktivne narudžbe <span style="font-size: 16px;">(protekla 2 sata)</span></h3>

        @foreach (Takeout takeout in await SqlRepository.GetTakeouts((Guid)ViewData["ID"], true))
        {
            tmspan = (DateTime.UtcNow - takeout.PlacedTime);

            if (tmspan.TotalHours > 2.0)
            {
                continue;
            }

            totalPrice = 0;
            totalMinutes = 0;
            totalQty = 0;
            foreach (TakeoutItem tki in takeout.TakeoutItems)
            {
                totalPrice += tki.Quantity * tki.TargetMeal.Price;
                totalMinutes = Math.Max(totalMinutes, tki.TargetMeal.PreparationMinutes);
                totalQty += tki.Quantity;
            }
            tmpstr = totalPrice.ToString();
            tmpstr = tmpstr.Insert(tmpstr.Length - 2, ".");
            if (((totalQty % 10) == 1) && ((totalQty % 100) != 11))
            {
                tmpstr2 = totalQty.ToString() + " artikl";
            }
            else if ((((totalQty % 10) == 2) && ((totalQty % 100) != 12)) || (((totalQty % 10) == 3) && ((totalQty % 100) != 13)) || (((totalQty % 10) == 4) && ((totalQty % 100) != 14)))
            {
                tmpstr2 = totalQty.ToString() + " artikla";
            }
            else
            {
                tmpstr2 = totalQty.ToString() + " artikala";
            }

            if (tmspan.Hours > 0)
            {
                tmpstr3 = "prije " + ((uint)tmspan.Hours).ToString() + " h " + ((uint)tmspan.Minutes).ToString() + " min";
            }
            else if (((uint)tmspan.Minutes) > 0)
            {
                tmpstr3 = "prije " + ((uint)tmspan.Minutes).ToString() + " min";
            }
            else
            {
                tmpstr3 = "upravo sad";
            }

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">

                        <a asp-controller="Home" asp-action="User" asp-route-username="@takeout.PlacedBy.Username" class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;">
                            @takeout.PlacedBy.FirstName @takeout.PlacedBy.LastName (+385 @takeout.PlacedBy.CellphoneNumber) - @tmpstr3
                            <div style="font-size: 12px;">@tmpstr HRK, ~@totalMinutes min, @tmpstr2</div>
                        </a>

                        <a class="btn btn-primary float-right" style="margin-right: 10px;" asp-action="TakeoutDetails" asp-route-tkid="@takeout.ID">
                            Detaljnije
                        </a>

                    </h5>
                </div>
            </div>
        }

        <a asp-action="ActiveTakeouts" asp-route-id="@ViewData["ID"]" class="float-right" style="margin: 10px; text-decoration: none;">Pogledaj sve aktivne narudžbe</a>

    </div>
</div>
