﻿@using DeliveryWebApp.Models.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Moji restorani";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Moji restorani</h1>

@if ((ViewData.ContainsKey("AddSuccess")) && ((bool)ViewData["AddSuccess"]))
{
    @if ((ViewData.ContainsKey("WasEdit")) && ((bool)ViewData["WasEdit"]))
    {
        <div class="alert alert-success alert-register" role="alert">
            Izmjene na restoranu su uspješno pohranjene.
        </div>
    }
    else
    {
        <div class="alert alert-success alert-register" role="alert">
            Restoran je uspješno dodan.
        </div>
    }
}

@if ((ViewData.ContainsKey("WasDeleted")) && ((bool)ViewData["WasDeleted"]))
{
    @if ((ViewData.ContainsKey("DeleteSuccess")) && ((bool)ViewData["DeleteSuccess"]))
    {
        <div class="alert alert-success alert-register" role="alert">
            Restoran je uspješno izbrisan.
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-register" role="alert">
            Dogodila se pogreška pri brisanju restorana.
        </div>
    }
}

@foreach (MyRestaurantModel model in (IEnumerable<MyRestaurantModel>)ViewData["MyRestaurants"])
{
    @await Html.PartialAsync("_MyRestaurant", model)
}

<a asp-action="AddRestaurant" class="btn btn-primary submit-register" role="button">Dodaj restoran</a>
