﻿@using System.Numerics
@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    ViewData["Title"] = "Detalji narudžbe";
    ViewData["EnableLocation"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Takeout takeout = (Takeout)ViewData["Takeout"];
    int idx = 0;
    string tmpStr = "";
    BigInteger totalPrice = 0;
    Restaurant restaurant = null;
    try
    {
        restaurant = takeout.TakeoutItems.First().TargetMeal.ServedAt;
    }
    catch { }
}

<h1 style="padding-bottom: 24px;">Detalji narudžbe</h1>

@foreach (TakeoutItem item in takeout.TakeoutItems)
{
    @if (item.TargetMeal == null)
    {
        continue;
    }
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                @{
                    tmpStr = (item.Quantity * item.TargetMeal.Price).ToString();
                    tmpStr = tmpStr.Insert(tmpStr.Length - 2, ".");
                    totalPrice += item.Quantity * item.TargetMeal.Price;
                }
                <img src="@item.TargetMeal.PictureURL" style="width: 36px; height: 36px; margin-right: 8px;" />
                <div class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;">
                    @item.TargetMeal.Name
                    <div style="font-size: 12px;">
                        @if (((item.Quantity % 10) == 1) && ((item.Quantity % 100) != 11))
                        {
                            <span>@item.Quantity komad</span>
                        }
                        else
                        {
                            <span>@item.Quantity komada</span>
                        }
                        , ukupno @tmpStr HRK
                    </div>
                </div>

                <a class="btn btn-secondary float-right" style="margin-right: 10px;" asp-controller="Home" asp-action="MealDetails" asp-route-restId="@item.TargetMeal.ServedAt.ID" asp-route-mealId="@item.TargetMeal.ID">
                    Detaljnije
                </a>

            </h5>
        </div>
    </div>
    idx++;
}

@{
    tmpStr = totalPrice.ToString();
    tmpStr = tmpStr.Insert(tmpStr.Length - 2, ".");
}
<div class="float-right" style="font-size: 24px; margin: 20px;">
    <i>Ukupno:</i> <span style="font-weight: 500;">@tmpStr HRK</span>
</div>

<h1 style="padding-bottom: 10px; padding-top: 46px;">Podaci o dostavi</h1>
@if (takeout.PlacedBy != null)
{
    <div style="font-size: 18px; margin-bottom: 4px;">Naručitelj: <strong>@takeout.PlacedBy.FirstName @takeout.PlacedBy.LastName</strong></div>
}
<div style="font-size: 18px; margin-bottom: 4px;">Adresa dostave: <strong>@takeout.Address</strong></div>
@if (takeout.PlacedBy != null)
{
    <a asp-controller="Home" asp-action="User" asp-route-username="@takeout.PlacedBy.Username" style="text-decoration: none;">Idi na stranicu naručitelja</a><br />
}
<a asp-controller="Dispatcher" asp-action="MapViewer" asp-route-lat="@takeout.MapLatitude" asp-route-lon="@takeout.MapLongitude" style="text-decoration: none;">Pogledaj na karti</a>

@if (restaurant != null)
{
    <h1 style="padding-bottom: 10px; padding-top: 46px;">Podaci o restoranu</h1>
    <div style="font-size: 18px; margin-bottom: 4px;">Naziv restorana: <strong>@restaurant.Name</strong></div>
    <div style="font-size: 18px; margin-bottom: 4px;">Adresa restorana: <strong>@restaurant.Address</strong></div>
    <a asp-controller="Home" asp-action="Restaurant" asp-route-id="@restaurant.ID" style="text-decoration: none;">Idi na stranicu restorana</a><br />
    <a asp-controller="Dispatcher" asp-action="MapViewer" asp-route-lat="@restaurant.MapLatitude" asp-route-lon="@restaurant.MapLongitude" style="text-decoration: none;">Pogledaj na karti</a>
}

@{
    Order deliveryOrder = null;
    Account deliveryMan = null;
    try
    {
        deliveryOrder = await SqlRepository.FindTakeoutDropOffOrder(takeout);
        deliveryMan = deliveryOrder.Assignee;
        deliveryOrder = await SqlRepository.GetLatestCompletedOrder(deliveryMan.Username);
    }
    catch { }
}

@if ((deliveryOrder != null) && (deliveryMan != null))
{
    <h1 style="padding-bottom: 10px; padding-top: 16px;">Podaci o dostavljaču</h1>
    <div style="font-size: 18px; margin-bottom: 4px;">Dostavljač: <strong>@deliveryMan.FirstName @deliveryMan.LastName</strong></div>
    <div style="font-size: 18px; margin-bottom: 4px;">Adresa dostavljača: <strong>@deliveryOrder.Address</strong></div>
    <a asp-controller="Home" asp-action="User" asp-route-username="@deliveryMan.Username" style="text-decoration: none; margin-bottom: 24px;">Idi na stranicu dostavljača</a>
    <div class="location-picker">
        <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
        <input type="hidden" id="txtLocation" data-type="location-store" />
        <div class="map-container" style="margin-top: 10px;">
            <div id="map" data-type="map" style="height: 300px;"></div>
        </div>
    </div>

    <script>
    window.onload = function () {
        // Call base load event handler
        Layout_onLoadBody();

        // Get location picker widget
        let locationPicker = $('.location-picker').locationPicker({
            locationChanged: null,
            init: { current_location: false }
        });

        // Initialize location
        locationPicker.setLocation(@deliveryOrder.MapLatitude, @deliveryOrder.MapLongitude);
    };
    </script>
}
