﻿@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    ViewData["Title"] = "Dostavljački panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string deliveryUsername = (string)ViewData["Username"];
    Order latestOrder = await SqlRepository.GetLatestCompletedOrder(deliveryUsername);
    int idx = 0;
    if (ViewData["FirstComplete"] == null)
    {
        ViewData["FirstComplete"] = false;
    }
}

<div class="modal fade" style="z-index: 100000;" id="id_modal_mark_complete" tabindex="-1" role="dialog" aria-labelledby="modalMarkCompleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMarkCompleteLabel">Označi prvu naredbu izvršenom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Jeste li sigurni da ste izvršili prvu naredbu sa popisa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <a class="btn btn-primary float-right" style="margin: 12px;" asp-action="MarkAsComplete">
                    Potvrdi
                </a>
            </div>
        </div>
    </div>
</div>

<h1 style="padding-bottom: 12px;">Dostavljački panel</h1>

@if ((bool)ViewData["FirstComplete"])
{
    <div class="alert alert-success alert-register" role="alert">
        Naredba je postavljena kao izvršena.
    </div>
}

<h3 style="padding: 6px;">Trenutne naredbe</h3>

@foreach (Order order in await SqlRepository.FetchDelivererOrders(deliveryUsername))
{
    idx++;
    <div style="margin-left: 10px; margin-right: 10px;">
        @idx)&nbsp;
        @switch (order.Type)
        {
            case OrderType.DropOffTakeoutItem:
                <span>Dostavi <a style="text-decoration: none;" asp-controller="Account" asp-action="TakeoutDetails" asp-route-tkid="@order.TargetedItem.ID">narudžbu</a></span>
                break;
            case OrderType.GoToLocation:
                <span>Idi na <a style="text-decoration: none;" asp-controller="Dispatcher" asp-action="MapViewer" asp-route-lat="@order.MapLatitude" asp-route-lon="@order.MapLongitude">lokaciju</a> (<i>@order.Address</i>)</span>
                break;
            case OrderType.PickUpTakeoutItem:
                <span>Pokupi <a style="text-decoration: none;" asp-controller="Account" asp-action="TakeoutDetails" asp-route-tkid="@order.TargetedItem.ID">narudžbu</a></span>
                break;
        }
    </div>
}

@if (idx == 0)
{
    <div style="margin: 10px; font-size: 16px;">Trenutno nema naredbi.</div>
}
else
{
    <button type="button" class="btn btn-primary float-right" style="margin: 12px;" data-toggle="modal" data-target="#id_modal_mark_complete">Označi prvu naredbu izvršenom</button>
}
