﻿@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Dispečiranje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Dispečiranje</h1>

<h3 style="padding: 6px;">Prijavljeni dostavljači</h3>

@foreach (Account account in (IEnumerable<Account>)ViewData["DeliveryMen"])
{
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <a class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;" asp-controller="Home" asp-action="User" asp-route-username="@account.Username">
                    @account.Username <span style="font-size: 12px;">(@account.FirstName @account.LastName)</span>
                </a>

                <span class="badge badge-success" style="border-radius: 8px; margin: 8px; font-size: 12px;">Online</span>

                <a class="btn btn-primary float-right" asp-action="OrderStation" asp-route-username="@account.Username">
                    Upravljaj
                </a>
            </h5>
        </div>
    </div>
}
