﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DeliveryWebApp.Database.Entries

@{
    ViewData["Title"] = "Karta";
    ViewData["EnableLocation"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function () {
        // Call base load event handler
        Layout_onLoadBody();

        // Get location picker widget
        let locationPicker = $('.location-picker').locationPicker({
            locationChanged: null,
            init: { current_location: false }
        });

        // Initialize location
        locationPicker.setLocation(@((double)ViewData["Lat"]), @((double)ViewData["Long"]));
    };
</script>

<h1 style="padding-bottom: 24px;">Karta</h1>

<div class="location-picker">
    <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
    <input type="hidden" id="txtLocation" data-type="location-store" />
    <div class="map-container" style="margin-top: 10px;">
        <div id="map" data-type="map" style="height: 600px;"></div>
    </div>
</div>
