﻿@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    ViewData["Title"] = "Upravljanje dostavljačem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string deliveryUsername = (string)ViewData["Username"];
    Account deliveryMan = await SqlRepository.GetAccountAsync(deliveryUsername);
    Order latestOrder = await SqlRepository.GetLatestCompletedOrder(deliveryUsername);
    ViewData["EnableLocation"] = (latestOrder != null);
    int idx = 0;
    TimeSpan tmspan = new TimeSpan();
    string tmpstr3 = "";
    IEnumerable<Takeout> necessaryOrders = await SqlRepository.FetchDeliverableTakeouts(deliveryUsername);
    IEnumerable<Takeout> possibleOrders = await SqlRepository.FetchTakeoutsForPickup();
}

@if (latestOrder != null)
{
    <script>
    window.onload = function () {
        // Call base load event handler
        Layout_onLoadBody();

        // Get location picker widget
        let locationPicker = $('.location-picker').locationPicker({
            locationChanged: null,
            init: { current_location: false }
        });

        // Initialize location
        locationPicker.setLocation(@latestOrder.MapLatitude, @latestOrder.MapLongitude);
    };
    </script>
}

<h1 style="padding-bottom: 12px;">Upravljanje dostavljačem</h1>

<h3 style="padding: 6px;">Zadnja poznata lokacija</h3>

@if (latestOrder == null)
{
    <div style="margin: 10px; font-size: 16px;">Nije poznata.</div>
}
else
{
    <div style="font-size: 18px; margin-bottom: 4px;">Dostavljač: <strong>@deliveryMan.FirstName @deliveryMan.LastName</strong></div>
    <div style="font-size: 18px; margin-bottom: 4px;">Adresa dostavljača: <strong>@latestOrder.Address</strong></div>
    <div class="location-picker">
        <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
        <input type="hidden" id="txtLocation" data-type="location-store" />
        <div class="map-container" style="margin-top: 10px;">
            <div id="map" data-type="map" style="height: 400px;"></div>
        </div>
    </div>
    <div style="margin: 10px; font-size: 16px;">Naredba izvršena: <i>@latestOrder.CompletedTime.AddHours(1.0).ToString()</i></div>
}

<h3 style="padding: 6px;">Trenutne naredbe</h3>

@foreach (Order order in await SqlRepository.FetchDelivererOrders(deliveryUsername))
{
    idx++;
    <div style="margin-left: 10px; margin-right: 10px;">
        @idx)&nbsp;
        @switch (order.Type)
        {
            case OrderType.DropOffTakeoutItem:
                <span>Dostavi <a style="text-decoration: none;" asp-controller="Account" asp-action="TakeoutDetails" asp-route-tkid="@order.TargetedItem.ID">narudžbu</a></span>
                break;
            case OrderType.GoToLocation:
                <span>Idi na <a style="text-decoration: none;" asp-action="MapViewer" asp-route-lat="@order.MapLatitude" asp-route-lon="@order.MapLongitude">lokaciju</a> (<i>@order.Address</i>)</span>
                break;
            case OrderType.PickUpTakeoutItem:
                <span>Pokupi <a style="text-decoration: none;" asp-controller="Account" asp-action="TakeoutDetails" asp-route-tkid="@order.TargetedItem.ID">narudžbu</a></span>
                break;
        }
    </div>
}

@if (idx == 0)
{
    <div style="margin: 10px; font-size: 16px;">Trenutno nema naredbi.</div>
}

@if (necessaryOrders.Count() > 0)
{
    <h3 style="padding: 6px;">Nužne naredbe</h3>

    @foreach (Takeout takeout in necessaryOrders)
    {
        tmspan = (DateTime.UtcNow - takeout.PlacedTime);
        if (tmspan.Hours > 0)
        {
            tmpstr3 = "prije " + ((uint)tmspan.Hours).ToString() + " h " + ((uint)tmspan.Minutes).ToString() + " min";
        }
        else if (((uint)tmspan.Minutes) > 0)
        {
            tmpstr3 = "prije " + ((uint)tmspan.Minutes).ToString() + " min";
        }
        else
        {
            tmpstr3 = "upravo sad";
        }
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <a class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;" asp-controller="Home" asp-action="User" asp-route-username="@takeout.PlacedBy.Username">
                        @takeout.PlacedBy.FirstName @takeout.PlacedBy.LastName <span style="font-size: 12px;">(+385 @takeout.PlacedBy.CellphoneNumber)</span> - @tmpstr3
                    </a>

                    <a class="btn btn-primary float-right" style="margin-left: 8px;" asp-action="AddDelivery" asp-route-username="@deliveryUsername" asp-route-tkid="@takeout.ID">
                        Dostavi narudžbu
                    </a>

                    <a class="btn btn-secondary float-right" style="margin-left: 8px;" asp-controller="Account" asp-action="TakeoutDetails" asp-route-tkid="@takeout.ID">
                        Detaljnije
                    </a>
                </h5>
            </div>
        </div>
    }
}

@if (possibleOrders.Count() > 0)
{
    <h3 style="padding: 6px;">Moguće naredbe</h3>

    @foreach (Takeout takeout in possibleOrders)
    {
        tmspan = (DateTime.UtcNow - takeout.PlacedTime);
        if (tmspan.Hours > 0)
        {
            tmpstr3 = "prije " + ((uint)tmspan.Hours).ToString() + " h " + ((uint)tmspan.Minutes).ToString() + " min";
        }
        else if (((uint)tmspan.Minutes) > 0)
        {
            tmpstr3 = "prije " + ((uint)tmspan.Minutes).ToString() + " min";
        }
        else
        {
            tmpstr3 = "upravo sad";
        }
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <a class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;" asp-controller="Home" asp-action="User" asp-route-username="@takeout.PlacedBy.Username">
                        @takeout.PlacedBy.FirstName @takeout.PlacedBy.LastName <span style="font-size: 12px;">(+385 @takeout.PlacedBy.CellphoneNumber)</span> - @tmpstr3
                    </a>

                    <a class="btn btn-primary float-right" style="margin-left: 8px;" asp-action="AddPickup" asp-route-username="@deliveryUsername" asp-route-tkid="@takeout.ID">
                        Pokupi narudžbu
                    </a>

                    <a class="btn btn-secondary float-right" style="margin-left: 8px;" asp-controller="Account" asp-action="TakeoutDetails" asp-route-tkid="@takeout.ID">
                        Detaljnije
                    </a>
                </h5>
            </div>
        </div>
    }
}
