﻿@using DeliveryWebApp
@using DeliveryWebApp.Database.Entries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject DeliveryWebApp.Database.ISqlRepository SqlRepository

@{
    AccessToken simulatedToken = HttpContextAccessor.HttpContext.Request.ReadSimulatedAccessToken();
    Account account = null;
    if (simulatedToken != null)
    {
        account = await SqlRepository.FetchAccountByAccessToken(simulatedToken);
    }
    if (account == null)
    {
        HttpContextAccessor.HttpContext.Response.ClearAccessToken();
    }
    else
    {
        ViewData["Account"] = account;
    }
}

<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bb9ae6">
    <meta name="msapplication-TileColor" content="#bb9ae6">
    <meta name="theme-color" content="#bb9ae6">

    <title>@InfoHelper.GetPageTitle(ViewBag.Title)</title>

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/global.min.css" />

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/global.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=hr"></script>

    @if (ViewData.ContainsKey("EnableLocation"))
    {
        <script type="text/javascript" src="https://openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <script type="text/javascript" src="~/js/location-picker.min.js"></script>
    }

</head>

<body onload="Layout_onLoadBody();">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bb9ae6; position: fixed; width: 100%; z-index: 99999;">

        <div class="d-inline-block align-middle" style="width: 4px;"></div>

        <a class="navbar-brand" asp-controller="Home" asp-action="Index">

            <div id="id_logo" class="d-inline-block align-middle logo-layout">
                @for (int i = 0; i < 15; ++i)
                {
                    <img id="id_logo_@(i.ToString("00"))" class="d-none" style="position: relative; left: 50%; top: 50%; width: 0%; height: 0%; transform: translate(-50%, -50%);" src="~/img/logo/@(i.ToString("00")).png" alt="" />
                }
            </div>

            <div class="d-inline-block align-middle" style="width: 12px;"></div>

            <div class="d-inline-block align-middle title-layout" style="font-weight: 600; text-shadow: 2px 2px 4px #7f4297; color: #441465;">@Info.Title</div>

        </a>

        <div class="d-inline-block align-middle" style="width: 12px;"></div>

        <button class="navbar-toggler" style="width: 40px; height: 40px;" type="button" data-toggle="collapse" data-target="#id_navbar_navigation" aria-controls="id_navbar_navigation">
            <span class="navbar-toggler-icon" style="width: 100%; height: 100%;"></span>
        </button>

        <div class="collapse navbar-collapse" id="id_navbar_navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><div class="d-inline-block nav-link-layout">Naručivanje</div></a>
                </li>
                @if (account != null)
                {
                    <li id="id_my_restaurants" class="nav-item @((bool)account.IsRestaurantOwner ? "" : "d-none")">
                        <a class="nav-link" asp-controller="Account" asp-action="MyRestaurants"><div class="d-inline-block nav-link-layout">Moji restorani</div></a>
                    </li>
                    <li id="id_my_restaurants" class="nav-item @((account.AccountRole == AccountType.DelivererUser) ? "" : "d-none")">
                        <a class="nav-link" asp-controller="Delivery" asp-action=""><div class="d-inline-block nav-link-layout">Dostavljanje</div></a>
                    </li>
                    <li id="id_my_restaurants" class="nav-item @((account.AccountRole == AccountType.DispatcherUser) ? "" : "d-none")">
                        <a class="nav-link" asp-controller="Dispatcher" asp-action=""><div class="d-inline-block nav-link-layout">Dispečiranje</div></a>
                    </li>
                    <li id="id_my_restaurants" class="nav-item @((account.AccountRole == AccountType.Administrator) ? "" : "d-none")">
                        <a class="nav-link" asp-controller="Admin" asp-action=""><div class="d-inline-block nav-link-layout">Administracija</div></a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Rules"><div class="d-inline-block nav-link-layout">Pravila korištenja</div></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About"><div class="d-inline-block nav-link-layout">O nama</div></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (account == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Register"><div class="d-inline-block nav-link-layout">Registracija</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Login"><div class="d-inline-block nav-link-layout">Prijava</div></a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <img id="id_avatar" class="d-inline-block" style="width: 30px; height: 30px; border-radius: 4px;" src="@account.ProfilePictureURL" alt="" />
                        <a class="nav-link d-inline-block" asp-controller="Account" asp-action="Index"><div class="d-inline-block nav-link-layout"><strong id="id_layout_username">@account.Username</strong></div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Logout"><div class="d-inline-block nav-link-layout">Odjava</div></a>
                    </li>
                }
            </ul>
        </div>

    </nav>

    <div style="padding-top: 80px;"></div>

    <div style="padding: 16px;">
        @RenderBody()
    </div>

</body>

</html>
