﻿@using DeliveryWebApp.Models.Admin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model UserModel

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <a class="d-inline-block align-middle tab-name-account-index" style="text-decoration: none; color: black;" asp-controller="Home" asp-action="User" asp-route-username="@Model.Username">
                @Model.Username <span style="font-size: 12px;">(@Model.Email)</span>

                @if (Model.IsVerified)
                {
                    @switch (Model.Role)
                    {
                        case DeliveryWebApp.Database.Entries.AccountType.RegularUser:
                            @Html.Raw("<span class=\"badge badge-primary\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Običan korisnik</span>")
                            break;
                        case DeliveryWebApp.Database.Entries.AccountType.DelivererUser:
                            @Html.Raw("<span class=\"badge badge-success\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Dostavljač</span>")
                            break;
                        case DeliveryWebApp.Database.Entries.AccountType.DispatcherUser:
                            @Html.Raw("<span class=\"badge badge-danger\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Dispečer</span>")
                            break;
                        case DeliveryWebApp.Database.Entries.AccountType.Administrator:
                            @Html.Raw("<span class=\"badge badge-warning\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Administrator</span>")
                            break;
                    }
                }
                else
                {
                    @switch (Model.Role)
                    {
                        case DeliveryWebApp.Database.Entries.AccountType.RegularUser:
                            @Html.Raw("<span class=\"badge badge-secondary\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Običan korisnik</span>")
                            break;
                        case DeliveryWebApp.Database.Entries.AccountType.DelivererUser:
                            @Html.Raw("<span class=\"badge badge-secondary\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Dostavljač</span>")
                            break;
                        case DeliveryWebApp.Database.Entries.AccountType.DispatcherUser:
                            @Html.Raw("<span class=\"badge badge-secondary\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Dispečer</span>")
                            break;
                        case DeliveryWebApp.Database.Entries.AccountType.Administrator:
                            @Html.Raw("<span class=\"badge badge-secondary\" style=\"border-radius: 8px; margin: 8px; font-size: 12px;\">Administrator</span>")
                            break;
                    }
                }

            </a>

            <a class="btn btn-primary float-right" asp-controller="Home" asp-action="User" asp-route-username="@Model.Username">
                Otvori
            </a>
        </h5>
    </div>
</div>
