﻿@using DeliveryWebApp.Models.Admin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Administracija";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom: 12px;">Administracija</h1>

@if ((bool)ViewData["DeleteRestaurant"])
{
    @if ((bool)ViewData["DeleteRestaurantSuccess"])
    {
        <div class="alert alert-success alert-register" role="alert">
            Restoran je uspješno izbrisan.
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-register" role="alert">
            Dogodila se pogreška pri brisanju restorana.
        </div>
    }
}

@if ((bool)ViewData["DeletedAccount"])
{
    @if ((bool)ViewData["DeletedAccountSuccess"])
    {
        <div class="alert alert-success alert-register" role="alert">
            Korisnik je uspješno izbrisan.
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-register" role="alert">
            Dogodila se pogreška pri brisanju korisnika.
        </div>
    }
}

@if ((bool)ViewData["ChangedRole"])
{
    @if (!((bool)ViewData["ChangedRoleSuccess"]))
    {
        <div class="alert alert-danger alert-register" role="alert">
            Izmjena uloge korisnika nije uspješno obavljena.
        </div>
    }
}

<h3 style="padding: 6px;">Restorani koji čekaju na potvrdu</h3>

@await Html.PartialAsync("_RestaurantList", new RestaurantListModel() { State = RestaurantState.Unverified, Count = 5, Skip = 0 })

<a asp-action="Restaurants" asp-route-state="@RestaurantState.Unverified" asp-route-count="15" asp-route-skip="0" class="float-right" style="margin: 8px;">Pogledaj sve</a>

<div style="height: 32px;"></div>

<h3 style="padding: 6px;">Upravljanje sustavom</h3>

<a asp-action="Restaurants" asp-route-state="@RestaurantState.All" asp-route-count="15" asp-route-skip="0" style="margin: 8px;">Prikaz svih restorana</a><br />
<a asp-action="Users" asp-route-state="@UserRole.AnyUser" asp-route-count="15" asp-route-skip="0" style="margin: 8px;">Prikaz svih korisnika</a>
