﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DeliveryWebApp.Database.Entries

@{
    Restaurant restaurant = (Restaurant)ViewData["Restaurant"];
    Account owner = (Account)ViewData["Owner"];
    ViewData["Title"] = "Administriranje restorana " + restaurant.Name;
    ViewData["EnableLocation"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function () {
        // Call base load event handler
        Layout_onLoadBody();

        // Get location picker widget
        let locationPicker = $('.location-picker').locationPicker({
            locationChanged: null,
            init: { current_location: false }
        });

        // Initialize location
        locationPicker.setLocation(@restaurant.MapLatitude, @restaurant.MapLongitude);
    };
</script>

<div class="modal fade" style="z-index: 100000;" id="id_modal_delete_restaurant" tabindex="-1" role="dialog" aria-labelledby="modalDeleteRestaurantLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteRestaurantLabel">Brisanje restorana</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 8px;">Jeste li sigurni da želite izbrisati restoran? Ova akcija je ireverzibilna.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <a asp-action="DeleteRestaurant" asp-route-id="@restaurant.ID" role="button" class="btn btn-danger" disabled>Izbriši restoran</a>
            </div>
        </div>
    </div>
</div>

<h1 style="padding-bottom: 24px;">Administriranje restorana <i>@restaurant.Name</i></h1>

<div class="row">

    <div class="col-sm-4" style="margin-bottom: 24px;">
        <h3 style="padding: 6px;">Općenito o restoranu</h3>
        <div style="margin-bottom: 8px;"></div>
        <img style="width: 100%; padding-bottom: 16px;" src="@restaurant.PictureURL" />
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Naziv</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Name</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Opis</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Description</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Adresa</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Address</div>
        </div>
        <div style="margin-bottom: 8px;"></div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Broj mobitela</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">+385 @restaurant.ContactNumber</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">Broj faksa</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">+385 @restaurant.FaxNumber</div>
        </div>
        <div style="margin-bottom: 8px;"></div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">OIB</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.OIB</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">IBAN tekući</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.IBAN</div>
        </div>
        <div class="row">
            <div class="col-4" style="font-size: 12px;">IBAN žiro</div>
            <div class="col-8" style="font-weight: 500; font-size: 14px;">@restaurant.Giro</div>
        </div>
        <div style="margin-bottom: 8px;"></div>
        <div class="location-picker">
            <input type="hidden" id="txtAddress" class="form-control" placeholder="Enter address here" data-type="address" />
            <input type="hidden" id="txtLocation" data-type="location-store" />
            <div class="map-container" style="margin-top: 10px;">
                <div id="map" data-type="map" style="height: 300px;"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-8" style="margin-bottom: 16px;">
        <h3 style="padding: 6px;">Račun vlasnika</h3>
        <div style="margin-bottom: 8px;"></div>
        <div class="row">
            <div class="col-sm-3">
                <center>
                    <img style="border-radius: 16px;" src="@owner.ProfilePictureURL" />
                    <div style="height: 4px;"></div>
                    <a asp-controller="Home" asp-action="User" asp-route-username="@owner.Username" style="text-decoration: none; font-size: 20px; font-weight: 500;">@owner.Username</a>
                </center>
            </div>
            <div class="col-sm-9">
                <div style="margin-bottom: 20px;"></div>
                <div class="row">
                    <div class="col-4" style="font-size: 12px;">Ime</div>
                    <div class="col-8" style="font-weight: 500; font-size: 14px;">@owner.FirstName</div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-size: 12px;">Prezime</div>
                    <div class="col-8" style="font-weight: 500; font-size: 14px;">@owner.LastName</div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-size: 12px;">E-pošta</div>
                    <div class="col-8" style="font-weight: 500; font-size: 14px;">@owner.Email</div>
                </div>
                <div class="row">
                    <div class="col-4" style="font-size: 12px;">Broj mobitela</div>
                    <div class="col-8" style="font-weight: 500; font-size: 14px;">+385 @owner.CellphoneNumber</div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 18px;"></div>
        <h3 style="padding: 6px;">Stanje restorana</h3>
        <div style="margin-bottom: 8px;"></div>
        @if (restaurant.IsVerified)
        {
            if (restaurant.IsOpen)
            {
                <span class="badge badge-success" style="border-radius: 8px; font-size: 16px; margin-left: 28px;">Otvoren</span>
            }
            else
            {
                <span class="badge badge-danger" style="border-radius: 8px; font-size: 16px; margin-left: 28px;">Zatvoren</span>
            }
        }
        else
        {
            <span class="badge badge-warning" style="border-radius: 8px; font-size: 16px; margin-left: 28px;">Čeka potvrdu</span>
        }
        <div style="margin-bottom: 18px;"></div>
        <h3 style="padding: 6px;">Upravljanje</h3>
        <div style="margin-bottom: 8px;"></div>
        @if (restaurant.IsVerified)
        {
            @if (restaurant.IsOpen)
            {
                <a asp-action="ToggleOpen" asp-route-id="@restaurant.ID" class="btn btn-secondary" style="margin: 4px;" role="button">Zatvori za narudžbe</a>
            }
            else
            {
                <a asp-action="ToggleOpen" asp-route-id="@restaurant.ID" class="btn btn-primary" style="margin: 4px;" role="button">Otvori za narudžbe</a>
            }
            <a asp-action="ToggleVerify" asp-route-id="@restaurant.ID" class="btn btn-secondary" style="margin: 4px;" role="button">Blokiraj restoran</a>
        }
        else
        {
            <a asp-action="ToggleVerify" asp-route-id="@restaurant.ID" class="btn btn-primary" style="margin: 4px;" role="button">Potvrdi restoran</a>
        }
        <button class="btn btn-danger" style="margin: 4px;" data-toggle="modal" data-target="#id_modal_delete_restaurant">Izbriši restoran</button>
    </div>

</div>
