﻿@using DeliveryWebApp.Models.Admin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RestaurantListModel

@{
    ViewData["Title"] = "Restorani";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Skip < 0)
    {
        Model.Skip = 0;
    }
    if (Model.Count <= 0)
    {
        Model.Count = 1;
    }
}

<h1 style="padding-bottom: 12px;">Restorani</h1>

<h3 style="padding: 6px;">Stranica @(Model.Skip / Model.Count + 1)</h3>

<div class="d-block" style="margin: 12px 12px 20px 12px;">

    <span>Filter: </span>

    <div style="width: 100%;">

        <div class="dropdown show d-inline-block align-middle" style="margin: 8px 0px 8px 0px;">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @switch (Model.State)
                {
                    case RestaurantState.Closed:
                        @Html.Raw("Zatvoreni");
                        break;
                    case RestaurantState.Open:
                        @Html.Raw("Otvoreni");
                        break;
                    case RestaurantState.Unverified:
                        @Html.Raw("Nepotvrđeni");
                        break;
                    case RestaurantState.All:
                        @Html.Raw("Svi");
                        break;
                }
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a asp-action="Restaurants" asp-route-state="@RestaurantState.All" asp-route-skip="0" asp-route-count="@Model.Count" asp-route-search="@Model.Search" class="dropdown-item">Svi</a>
                <a asp-action="Restaurants" asp-route-state="@RestaurantState.Closed" asp-route-skip="0" asp-route-count="@Model.Count" asp-route-search="@Model.Search" class="dropdown-item">Zatvoreni</a>
                <a asp-action="Restaurants" asp-route-state="@RestaurantState.Open" asp-route-skip="0" asp-route-count="@Model.Count" asp-route-search="@Model.Search" class="dropdown-item">Otvoreni</a>
                <a asp-action="Restaurants" asp-route-state="@RestaurantState.Unverified" asp-route-skip="0" asp-route-count="@Model.Count" asp-route-search="@Model.Search" class="dropdown-item">Nepotvrđeni</a>
            </div>
        </div>

        <form style="margin: 8px 0px 8px 0px;" method="get" class="form-group d-inline-block align-middle">
            <input class="d-none" type="hidden" name="state" value="@Model.State" />
            <input class="d-none" type="hidden" name="skip" value="0" />
            <input class="d-none" type="hidden" name="count" value="@Model.Count" />
            <input class="form-control" type="text" name="search" value="@Model.Search" placeholder="Pretraži" />
        </form>

    </div>

</div>

@await Html.PartialAsync("_RestaurantList", Model)

<div style="width: 100%; height: 80px;">
    @if (Model.Skip > 0)
    {
        <a class="btn btn-info" style="margin: 12px 2px 12px 8px;" asp-action="Restaurants" asp-route-state="@Model.State" asp-route-skip="0" asp-route-count="@Model.Count" asp-route-search="@Model.Search">
            Prva
        </a>
        <a class="btn btn-info" style="margin: 12px 2px 12px 2px;" asp-action="Restaurants" asp-route-state="@Model.State" asp-route-skip="@Math.Max(Model.Skip - Model.Count, 0)" asp-route-count="@Model.Count" asp-route-search="@Model.Search">
            Prethodna
        </a>
    }

    @if (Model.HasMore)
    {
        <a class="btn btn-info float-right" style="margin: 12px 8px 12px 2px;" asp-action="Restaurants" asp-route-state="@Model.State" asp-route-skip="@(Model.Skip + Model.Count)" asp-route-count="@Model.Count" asp-route-search="@Model.Search">
            Sljedeća
        </a>
    }
</div>
