﻿.info-account-index {
    text-align: center;
}

.info-text-account-index {
    display: block;
    padding-left: 0px;
}

.tab-name-account-index {
    font-size: 18px;
    padding-top: 2px;
}

.text-account-index {
    padding-bottom: 10px;
    color: gray;
}

@media (min-width: 992px) {

    .info-account-index {
        text-align: left;
    }

    .info-text-account-index {
        display: inline-block;
        padding-left: 24px;
    }

    .tab-name-account-index {
        font-size: 18px;
        padding-top: 2px;
    }

    .text-account-index {
        padding-bottom: 10px;
        color: gray;
    }

}
