﻿.title-layout {
    font-size: 18px;
}

.logo-layout {
    width: 40px;
    height: 40px;
}

.recaptcha-layout {
    transform: scale(0.8) translate(8%, 0%);
    transform-origin: 0 0;
}

.nav-link-layout {
    color: #ffffff;
}

.nav-link-layout:hover {
    color: #eaeaea;
}

@media (min-width: 992px) {

    .title-layout {
        font-size: 32px;
    }

    .logo-layout {
        width: 60px;
        height: 60px;
    }

    .recaptcha-layout {
        transform: scale(1.0) translate(0%, 0%);
        transform-origin: 0 0;
    }

    .nav-link-layout {
        color: #ffffff;
        padding: 12px 10px 12px 10px;
        border-radius: 4px;
        background-color: #bb9ae6;
        transition: color 0.125s;
        transition: background-color 0.125s;
    }

    .nav-link-layout:hover {
    color: #eaeaea;
    background-color: #69419c;
    }
}
