﻿.input-register {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    margin: 10px;
    width: 90%;
}

.alert-register {
    padding: 4px 8px 4px 8px;
}

.submit-register {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    margin: 10px;
    width: 84%;
    margin-top: 16px;
}

@media (min-width: 992px) {

    .input-register {
        margin-left: 0px !important;
        margin-right: auto !important;
        display: block;
        margin: 10px;
        width: 50%;
    }

    .alert-register {
        padding: 4px 8px 4px 8px;
    }

    .submit-register {
        margin-left: 0px !important;
        margin-right: auto !important;
        display: block;
        margin: 10px;
        width: 128px;
        margin-top: 16px;
    }

}
